<% doc_presenter = show_presenter(document) %>
<% find_this_item = Ursus::FindThisItemMetadataPresenter.new(document: doc_presenter.fields_to_render).find_this_item_terms %>

<% if find_this_item.length > 0 %>
  <div class="metadata-block">
    <h4 class='metadata-block__title'>Find This Item</h4>
    <dl class='metadata-block__group'>
      <% find_this_item.each do |field_name, field| -%>
        <dt class="blacklight-<%= field_name.parameterize %> metadata-block__label-key">
          <!-- KEY -->
          <%= (render_document_show_field_label document, field: field_name).tr(':', '') %>
          <!-- VALUE -->

            <dd class="blacklight-<%= field_name.parameterize %> metadata-block__label-value metadata-block__label-value--ursus">
              <%= doc_presenter.field_value field %>
            </dd>

        </dt>
      <% end %>

      <% if @document[:finding_aid_url_ssm] %>
      <dt class="metadata-block__label-key">Finding aid url</dt>
        <dd class="metadata-block__label-value"><%= render_finding_aid_link %></dd>
      <% end %>

      <%= render_opac_link %>
    </dl>
    <hr>
    <hr class='divider divider--white'>
  </div>
<% end %>
