<div class='item-page__secondary-metadata item-page__secondary-metadata--ursus'>
  <% document_json = JSON.parse @document.to_json.tr("'", '_') %>

  <% if document_json['electronic_locator_ss'] %>
    <button type="button" class='btn-base btn-base-md btn-outline-ursus--blue btn-ursus--secondary-block' style='margin-bottom: 1.5rem'>
      View Item at <a href=<%= document_json['electronic_locator_ss'] %> target = '_blank'><%= document_json['repository_tesim'][0] %> <span><%= image_tag('icon-external-link.svg') %></span></a>
    </button>
  <% end %>

  <div class='item-page__secondary-metadata--ursus-block'>
    <%= render 'catalog/work_record--ursus/find_this_item_metadata', document: document %>
    <%= render 'catalog/work_record--ursus/access_condition_metadata', document: document %>
  </div>
</div>
