<div class='item-page__secondary-metadata item-page__secondary-metadata--ursus'>
  <% document_json = JSON.parse @document.to_json.tr("'", '_') %>

  <% if document_json['electronic_locator_ss'] && document_json['repository_tesim'] %>
    <a href=<%= document_json['electronic_locator_ss'] %> class='btn-base btn-base-md btn-outline-ursus--blue btn-secondary-block--ursus' 'target='_blank' rel='noopener noreferrer'>View item at<span> <%= document_json['repository_tesim'][0] %> </span> <span class='icon-external-link' role='img' aria-label='Eternal link icon'> <%= image_tag('icon-external-link.svg') %> </span> </a>
  <% end %>

  <div class=' item-page__secondary-metadata--ursus-block '>
    <%= render 'catalog/work_record--ursus/find_this_item_metadata', document: document %>
    <%= render 'catalog/work_record--ursus/access_condition_metadata', document: document %>
  </div>
</div>
