<div class="container-full container-full--navbar site-navbar site-navbar--canon">

<nav class="navbar navbar-expand-lg navbar--canon">
  <button class="navbar-toggler navbar-toggler--canon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-toggler-icon--canon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-collapse--cannon" id="navbarNav">
    <ul class="navbar-nav navbar-nav--canon">
      <li class="nav-item site-navbar__item--canon">
      <%= link_to 'About Canon Law', canonlaw_path, class: 'active nav-link site-navbar__item-link--canon' %>
      </li>
      <li class="nav-item site-navbar__item--canon">
        <%= link_to 'Introduction', canonlaw_introduction_path, class: 'nav-link site-navbar__item-link--canon' %>
      </li>
      <li class="nav-item site-navbar__item--canon">
        <%= link_to 'Table of Contents', canonlaw_table_of_contents_path, class: 'nav-link site-navbar__item-link--canon' %>
      </li>
      <li class="nav-item site-navbar__item--canon">
        <%= link_to 'Materiae Signatures', canonlaw_materiae_singulares_path, class: 'nav-link site-navbar__item-link--canon' %>
      </li>
      <li class="nav-item site-navbar__item--canon">
        <%= link_to 'Margarita Decretalium', canonlaw_margarita_decretalium_path, class: 'nav-link site-navbar__item-link--canon' %>
      </li>
    </ul>
  </div>
</nav>
</div>

<script>
Blacklight.onLoad(function() {
  $(".navbar-toggler--canon").click(function(){
    $('.navbar-collapse--cannon').on('show.bs.collapse', function(){
      //alert('The collapsible content is now fully shown.');
      $('.site-navbar--canon').css( "border-bottom", "unset" );
    });
    $('.navbar-collapse--cannon').on('hide.bs.collapse', function(){
      //alert('The collapsible content is about to be hidden.');
      $('.site-navbar--canon').css( "border-bottom", "1px solid $ucla-lightest-blue" );
    });
    $('.navbar-collapse--cannon').on('hiden.bs.collapse', function(){
      //alert('The collapsible content is now hidden.');
      $('.site-navbar--canon').css( "border-bottom", "1px solid $ucla-lightest-blue" );
    });
  });
});
/* var activeTab;
var navBarLinks = document
  .querySelector(".navbar-nav--canon")
  .querySelectorAll("li");
navBarLinks.forEach(option => {
  option.addEventListener("click", function() {
    if (activeTab) activeTab.classList.remove("site-navbar__item-link-active--canon");
    activeTab = option;
    activeTab.classList.add("site-navbar__item-link-active--canon");
  });
}); */
</script>
