<% doc_presenter = show_presenter(document) %>
<% if Flipflop.sinai? %>
  <% overview = Sinai::OverviewMetadataPresenter.new(document: doc_presenter.fields_to_render).overview_terms %>

  <% if overview.length > 0 %>
    <% overview.each do |field_name, field| %>
      <div class="metadata-block--sinai">
          <span class="metadata-block_title--sinai"> <%= (render_document_show_field_label document, field: field_name).tr(':', '') %></span>
          <span class="metadata-block_value--sinai"><%= doc_presenter.field_value field %></span>
      </div>
      <% end %>
  <% end %>
<% else %>
  <% overview = Ursus::ItemOverviewMetadataPresenter.new(document: doc_presenter.fields_to_render).overview_terms %>

  <% if overview.length > 0 %>
    <div class="metadata-block">
      <h4 class="metadata-block__title">Item Overview</h4>
      <dl class="metadata-block__group">
        <% overview.each do |field_name, field| %>
          <% if Flipflop.sinai? && field_name == "title_tesim" %>
            <% next %>
          <% end %>
          <dt class="blacklight-<%= field_name.parameterize %> metadata-block__label-key">
            <!-- KEY -->
            <%= (render_document_show_field_label document, field: field_name).tr(':', '') %>
            <!-- VALUE -->
            <% if Flipflop.sinai? %>
              <dd class="blacklight-<%= field_name.parameterize %> metadata-block__label-value metadata-block__label-value--sinai">
                <%= doc_presenter.field_value field %>
              </dd>
            <% else %>
              <dd class="blacklight-<%= field_name.parameterize %> metadata-block__label-value metadata-block__label-value--ursus">
                <%= doc_presenter.field_value field %>
              </dd>
            <% end %>
          </dt>
        <% end %>
      </dl>
    <hr class="divider divider--ursus">
    </div>
  <% end %>
<% end %>
