<% doc_presenter = show_presenter(document) %>
<% local_info = Ursus::LocalInfoMetadataPresenter.new(document: doc_presenter.fields_to_render).local_info_terms %>

<% if local_info.length > 0 %>
  <div class="metadata-block">
    <h4 class='metadata-block__title'>Find This Item</h4>
    <dl class='metadata-block__group'>
      <% local_info.each do |field_name, field| -%>
        <dt class="blacklight-<%= field_name.parameterize %> metadata-block__label-key">
          <!-- KEY -->
          <%= (render_document_show_field_label document, field: field_name).tr(':', '') %>
          <!-- VALUE -->
          <% if Flipflop.sinai? %>
            <dd class="blacklight-<%= field_name.parameterize %> metadata-block__label-value metadata-block__label-value--sinai">
              <%= doc_presenter.field_value field %>
            </dd>
          <% else %>
            <dd class="blacklight-<%= field_name.parameterize %> metadata-block__label-value metadata-block__label-value--ursus">
              <%= doc_presenter.field_value field %>
            </dd>
          <% end %>
        </dt>
      <% end %>
      <%= render_opac_link %>

      <!-- iiif drag and drop logo -->
      <dt class='metadata-block__label-key'>Manifest url</dt>
      <dd class='metadata-block__label-value'>
        <a href="<%= iiif_manifest_link %>" target="_blank"><%= image_tag('iiif-logo.png', alt: 'IIIF Manifest') %></a>
      </dd>

    </dl>
    <hr>
    <% if Flipflop.sinai? %>
      <hr class='divider divider--sinai'>
    <% else %>
      <hr class='divider divider--white'>
    <% end %>
  </div>
<% end %>
