<% if Flipflop.sinai? %>
  <div class='item-page__primary-metadata item-page__primary-metadata--sinai'>
    <div hidden>
    <% document_json = JSON.parse @document.to_json.tr("'", '_') %>
    <% tn = "<img src=\"" + document_json['thumbnail_url_ss'] + "\" alt=\"" + render_document_alttag(document) + "\" \>" unless document_json['thumbnail_url_ss'].blank? %>
      <%= tn.html_safe unless document_json['thumbnail_url_ss'].blank? %>
    </div>
    
    <div class="primary-metadata_tab-container--sinai">
      <input type="radio" name="tabs" id="tabone" checked="checked">
      <label for="tabone">Content</label>
      <%= render 'catalog/work_record/content_metadata', document: document %>
      <input type="radio" name="tabs" id="tabtwo">
      <label for="tabtwo">Codicology</label>
      <%= render 'catalog/work_record/codicology_metadata', document: document %>
      <input type="radio" name="tabs" id="tabthree">
      <label for="tabthree">History</label>
      <%= render 'catalog/work_record/history_metadata', document: document %>
      <input type="radio" name="tabs" id="tabfour">
      <label for="tabfour">Decorations</label>
      <%= render 'catalog/work_record/decorations_metadata', document: document %>
      <input type="radio" name="tabs" id="tabfive">
      <label for="tabfive">References & Link</label>
      <%= render 'catalog/work_record/references_and_link_metadata', document: document %>
    </div>
  </div>
<% else %>
  <div class='item-page__primary-metadata">
    <div hidden>
      <% document_json = JSON.parse @document.to_json.tr("'", '_') %>
      <% tn = "<img src=\"" + document_json['thumbnail_url_ss'] + "\" alt=\"" + render_document_alttag(document) + "\" \>" unless document_json['thumbnail_url_ss'].blank? %>
      <%= tn.html_safe unless document_json['thumbnail_url_ss'].blank? %>
    </div>
    <%= render 'catalog/work_record/item_overview_metadata', document: document %>
    <%= render 'catalog/work_record/note_metadata', document: document %>
    <%= render 'catalog/work_record/physical_description_metadata', document: document %>
    <%= render 'catalog/work_record/keyword_metadata', document: document %>
  </div>
<% end %>

