<div class='content-container--collection-page'>
  <% if document[:summary_tesim] %>
    <%= render 'catalog/collection_record/about_collection_metadata', document: document %>
  <% end %>

  <%= render 'catalog/collection_record/collection_overview_metadata', document: document %>
  <%= render 'catalog/collection_record/find_this_collection_metadata', document: document %>
  <%= render 'catalog/collection_record/access_condition_metadata', document: document %>
  <%= render 'catalog/collection_record/note_collection_metadata', document: document %>
  <%= render 'catalog/collection_record/physical_description_metadata', document: document %>
  <%= render 'catalog/collection_record/keyword_metadata', document: document %>

  <div class='collection-page__btn-row'>
  <a href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=<%= document[:title_tesim][0] %>" class="btn-base btn-base-lg btn-ursus--gold" role="button">Browse items in this collection</a>
  </div>
</div>
