<% doc_presenter = show_presenter(document) %>
<% keyword = Ursus::KeywordMetadataPresenter.new(document: doc_presenter.fields_to_render).keyword_terms %>

<% if keyword.length > 0 %>
<div class='metadata-block'>
    <h4 class='metadata-block__title'>Keywords</h4>
    <dl class='metadata-block__group'>
      <% keyword.each do |field_name, field| -%>
        <dt class="blacklight-<%= field_name.parameterize %> metadata-block__label-key">
          <%= (render_document_show_field_label document, field: field_name).tr(':','') %>
          <% if field_name.include? "genre" %>
          <dd itemprop="genre" class="blacklight-<%= field_name.parameterize %> metadata-block__label-value">
            <%= doc_presenter.field_value field %>
          </dd>
          <% else %>
          <dd class="blacklight-<%= field_name.parameterize %> metadata-block__label-value">
            <%= doc_presenter.field_value field %>
          </dd>
        <% end %>
        </dt>
        
      <% end %>
    </dl>

  <% if Flipflop.sinai? %>
    <hr class='divider'>
  <% else %>
    <hr class='divider'>
  <% end %>

  </div>
<% end %>
