<footer>
  <div class='footer-wrapper'>
    <div class="col1">
      <%= link_to(image_tag('logo/ucla-library-logo.svg', class: 'logo', alt: 'UCLA Library Logo'), 'https://www.library.ucla.edu/', target: '_blank') %>
    </div>
    <div class="col2">
      <ul>
        <li><%= link_to 'Copyright and Collections', '/copyrights_and_collections' %></li>
        <li><%= link_to 'Privacy Policy', 'http://www.library.ucla.edu/use/access-privileges/privacy-policy', target: '_blank' %></li>
        <li><%= link_to 'Contact Us', '/contact' %></li>
      </ul>
    </div>
    <div class="col3">
      <ul>
        <li><%= link_to 'Visit Our Legacy Site', 'http://digital2.library.ucla.edu/', target: '_blank' %></li>
        <li><a href='mailto:dlp@library.ucla.edu' target='_blank' >Give Us Feedback</a></li>
        <!--<li>Migration Updates</li>-->
      </ul>
    </div>
  </div>
</footer>

<div class='copyright'>
  <div class='uc-regents'>
    @ 2019 UC Regents. All rights reserved.
  </div>
</div>
