<footer>
  <div class='primary-footer-wrapper'>
    <div class="logo1">
      <%= link_to(image_tag('sinai/logo-uclalib-blk.svg', class: 'logo', alt: 'UCLA Library Logo'), 'https://www.library.ucla.edu/', target: '_blank', rel: 'noopener') %>
    </div>
    <div class="logo2">
      <%= image_tag('sinai/logo-sinai.png', class: 'navbar-logo sinai-logo', alt: 'UCLA Library Digital Collections Logo') %>
    </div>
    <div class="logo3">
      <%= image_tag('sinai/logo-emel.png', class: 'navbar-logo', alt: 'UCLA Library Digital Collections Logo') %>
    </div>
    <div class="logo4">
      <%= image_tag('sinai/logo-ahmanson.png', class: 'navbar-logo', alt: 'UCLA Library Digital Collections Logo') %>
    </div>
    <div class="logo5">
      <%= image_tag('sinai/logo-arcadia.png', class: 'navbar-logo', alt: 'UCLA Library Digital Collections Logo') %>
    </div>
  </div>
</footer>

<div class='secondary-footer-wrapper'>
  <div class='footer-links'>
    <ul>
      <li><%= link_to 'UCLA Library Digital Collections', 'https://www.library.ucla.edu/'  %></li>
      <li><%= link_to 'Contact Us', 'https://www.library.ucla.edu/' %></li>
    </ul>
  </div>
</div>

<div class='copyright'>
  <div class="uc-regents">
    © <span id="copyright-year"></span> UC Regents. All rights reserved.
  </div>
</div>

<script>$("#copyright-year").text(new Date().getFullYear());</script>
