<% if @document[:has_model_ssim][0] == 'Collection' %>
  <%= render 'catalog/collection_record/collection_record', { document: @document } %>
<% else %>
  <% if current_search_session && controller.controller_name == 'catalog' && controller.action_name == 'show' %>

<div class='content-container--item-page'>
<%# PAGINATION %>
  <div id='appliedParams' class='item-page__pagination-wrapper'>
    <div class= 'item-page__pagination-block'><%= render 'previous_next_doc' if @search_context %>
    </div>

    <%= link_back_to_catalog label:'Back to Search Results', class: 'btn-base btn-base-sm' %>
  </div>

  <hr class="divider">

  <% elsif current_search_session %>

    <div id='appliedParams' class='clearfix constraints-container'>
      <%#= link_to t('blacklight.search.start_over'), start_over_path, class: 'btn catalog_startOverLink' %>
      <%= link_back_to_catalog class: 'btn btn-outline-secondary' %>
    </div>

  <% end %>
  <%= render_document_main_content_partial %>
</div>
<% end %>

