<div class='content-container--static-page'>
  <div class='static-page__title-row'>
    <h1 class='static-page__title bordered-title bordered-title--ursus'><%= t('static_pages.contact.page_title') %></h1>
  </div>

  <div class='row static-page__row'>
    <div class='col-lg-4 static-page__subtitle'>
      <%= t('static_pages.contact.collection_inquires').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page__text'>
        For research, permissions, and reproduction inquiries please contact the original repository. In most cases, this will be the the UCLA Library Special Collections.
      </div>
    </div>
  </div>

  <hr class='divider divider--ursus'>

  <div class='row static-page__row'>
    <div class='col-lg-4 static-page__subtitle'>
      <%= t('static_pages.contact.special_collections').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page__text'>
        Users can find information on requesting reproductions, as well as the "Request to Publish Form" on their <%= link_to 'Special Collections Reproductions', 'https://www.library.ucla.edu/use/access-privileges/print-copy-scan/special-collections-reproductions' %> page, or you can email spec-coll@library.ucla.edu.
      </div>
    </div>
  </div>

  <hr class='divider divider--ursus'>

  <div class='row static-page__row'>
    <div class='col-lg-4 static-page__subtitle'>
      <%= t('static_pages.contact.not_working').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page__text'>
        If you experience any technical issues, please let us know at dlp@library.ucla.edu.
      </div>
    </div>
  </div>

  <hr class='divider divider--ursus'>

</div>
