<div class='static-container'>
  <div class='static-page-title'>
    <h2><%= t('static_pages.contact.page_title') %></h2>
    <div class='yellow-liner contact'></div>
  </div>

  <div class='row'>
    <div class='col-lg-4 static-page-subtitles'>
      <%= t('static_pages.contact.collection_inquires').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page-text'>
        For research, permissions, and reproduction inquiries please contact the original repository. In most cases, this will be the the UCLA Library Special Collections.
      </div>
    </div>
  </div>

  <% if Flipflop.sinai? %>
    <hr class='divider__red'>
  <% else %>
    <hr class='divider__blue'>
  <% end %>

  <div class='row'>
    <div class='col-lg-4 static-page-subtitles'>
      <%= t('static_pages.contact.special_collections').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page-text'>
        Users can find information on requesting reproductions, as well as the "Request to Publish Form" on their <%= link_to 'Special Collections Reproductions', 'https://www.library.ucla.edu/use/access-privileges/print-copy-scan/special-collections-reproductions' %> page, or you can email spec-coll@library.ucla.edu.
      </div>
    </div>
  </div>

  <% if Flipflop.sinai? %>
    <hr class='divider__red'>
  <% else %>
    <hr class='divider__blue'>
  <% end %>

  <div class='row'>
    <div class='col-lg-4 static-page-subtitles'>
      <%= t('static_pages.contact.not_working').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page-text'>
        If you experience any technical issues, please let us know at dlp@library.ucla.edu.
      </div>
    </div>
  </div>

<% if Flipflop.sinai? %>
    <hr class='divider__red'>
  <% else %>
    <hr class='divider__blue'>
  <% end %>
</div>
