<div class='static-container'>
  <div class='static-page-title'>
    <h2><%= t('static_pages.contact.page_title') %></h2>
    <div class='yellow-liner contact'></div>
  </div>

  <div class='row'>
    <div class='col-lg-4 static-page-subtitles'>
      <%= t('static_pages.contact.collection_inquires').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page-text'>
        <p>For inquiries related to digital collections content or to request reproductions or permissions to publish, please contact the item's holding repository.</p>
        
        <p>The name of the home repository can be found in either the item-level metadata (<a href="/catalog/jmn09000zz-89112">see example</a>) or in the collection record (<a href="/catalog/zwb98000zz-89112">example</a>). In most cases, this will be the UCLA Library Special Collections department, the Chicano Studies Research Center (CSRC), or the UCLA Art Library.</p>
      </div>
    </div>
  </div>

  <hr class='divider__blue'>

  <div class='row'>
    <div class='col-lg-4 static-page-subtitles'>
      <%= t('static_pages.contact.special_collections').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page-text'>
        Users can find information on requesting reproductions, as well as the "Request to Publish Form" on their <%= link_to 'Special Collections Reproductions', 'https://www.library.ucla.edu/use/access-privileges/print-copy-scan/special-collections-reproductions' %> page, or you can email spec-coll@library.ucla.edu.
      </div>
    </div>
  </div>

  <hr class='divider__blue'>

  <div class='row'>
    <div class='col-lg-4 static-page-subtitles'>
      <%= t('static_pages.contact.not_working').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page-text'>
        <%= form_tag do %>
          <div class="form-group">
            <%= label_tag(:name, 'Full Name:') %>
            <%= text_field_tag(:name, '', class: 'form-control') %>
          </div>
          <div class="form-group">
            <%= label_tag(:email, 'Email:') %>
            <%= text_field_tag(:email, '', class: 'form-control') %>
          </div>
          <div class="form-group">
            <%= label_tag(:message, 'Message:') %>
            <%= text_area_tag(:message, '', class: 'form-control') %>
          </div>
          <%= submit_tag("Submit Your Message", class: 'btn btn-warning rounded-0') %>
        <% end %>
      </div>
    </div>
  </div>

  <hr class='divider__blue'>
</div>
