<div class='content-container--static-page'>
  <!--Content container to hold Sinai static page navigation-->
  <div class='content-container--sinai-static-page'>
    <!--Navigation-->
    <%= render 'sinai_secondary_nav' %>
      <!--Start static content-->
      <div class="sinai-static-page-inner-container">
        <div class='static-page__title-row'>
          <h1 class='static-page__title--sinai'>Contact Us</h1>
        </div>

      <div class='static-page__row static-page__row--sinai'>
        <div class='static-page__block--sinai'>
          <h3 class='static-page__subtitle static-page__subtitle--sinai '>TO REQUEST PERMISSIONS</h3>
          <p class='static-page__text static-page__text--sinai'>Submit requests to <strong>St. Catherine’s Monastery</strong> via <%= mail_to 'sinaipermissions@gmail.com', 'sinaipermissions@gmail.com', class: 'si-link' %></p>
          <ul class='static-page__list static-page__list--sinai'>
            <li>To request permissions for reproducing images in print or electronic form</li>
            <li>To request written approval for preparing editions</li>
          </ul>
          <p class='static-page__text static-page__text--sinai'>Reference manuscript shelfmark(s) and folio number(s) in request.</p>
          <p class='static-page__text static-page__text--sinai'>For information on crediting sources, see <%= link_to 'Terms of Use', 'https://sinai.library.ucla.edu/terms-of-use/please-read', target: '_blank', rel: 'noopener' %>.</p>
        </div>

        <div class='static-page__block--sinai'>
          <h3 class='static-page__subtitle static-page__subtitle--sinai'>ABOUT USER REGISTRATION OR LOGIN</h3>
          <p class='static-page__text static-page__text--sinai'>Email the <strong>Early Manuscripts Electronic Library</strong> at <%= mail_to 'sinai.id.emel@gmail.com', 'sinai.id.emel@gmail.com', class: 'si-link' %></p>
          <ul class='static-page__list static-page__list--sinai'>
            <li>To report difficulties or ask questions about registration or login</li>
            <li>To delete your user account</li>
          </ul>
          <p class='static-page__text static-page__text--sinai'>To review how your data is used and protected, see the <%= link_to 'Privacy Policy', 'https://sinai-id.org/static_pages/spp_privacy', target: '_blank', rel: 'noopener' %> associated with your user login, plus <%= link_to 'Terms of Use', 'https://sinai.library.ucla.edu/terms-of-use/please-read', target: '_blank', rel: 'noopener' %>.</p>
        </div>
      </div>

      <hr class='divider'>

      <div class='static-page__row static-page__row--sinai'>
        <div class='static-page__block--sinai'>
          <h3 class='static-page__subtitle static-page__subtitle--sinai'>TO SHARE PUBLICATIONS</h3>
          <ul class='static-page__list static-page__list--sinai'>
            <li>To share an electronic copy of publications based on images from the Sinai Manuscripts Digital Library</li>
            <li>To share a print copy—where no electronic version is available—of publications based on images from the Sinai Manuscripts Digital Library</li>
          </ul>
          <p class='static-page__text static-page__text--sinai'>Email: <strong>St. Catherine’s Monastery</strong> at <%= mail_to 'sinaipermissions@gmail.com', 'sinaipermissions@gmail.com', class: 'si-link' %></p>
          <p class='static-page__text static-page__text--sinai'>Send mail to:<br>
              <strong>Saint Catherine’s Monastery of the Sinai</strong><br>26 Doryleou, Ampelokipi, Athens 11521, Greece
          </p>
        </div>

        <div class='static-page__block--sinai'>
          <h3 class='static-page__subtitle static-page__subtitle--sinai'>ABOUT WEBSITE FUNCTIONALITY</h3>
          <p class='static-page__text static-page__text--sinai'>Email the <strong>UCLA Digital Library Program</strong> at <%= mail_to 'dlp@library.ucla.edu', 'dlp@library.ucla.edu', class: 'si-link' %></p>
        </div>
      </div>

    </div>
  </div>
</div>
