<div class='static-container'>
  <div class='static-page-title'>
    <h2>Terms of Use</h2>
    <div class='red-liner contact'></div>
  </div>

  <p>St. Catherine’s Monastery of the Sinai, Egypt, is pleased to make images of palimpsest manuscripts in its library accessible for online study. The Monastery asks that users accessing images
of its palimpsests agree to the following terms and conditions:*</p>

  <h3>FOR RESEARCHERS</h3>
  <ol>
    <li class='terms-list'>Researchers are invited to <strong>study the images online</strong>.<br>
      Images <strong>may not be downloaded</strong> for publication or redistribution without the prior written permission of St. Catherine’s Monastery of the Sinai. (See <strong>FOR PUBLICATIONS</strong> below, <strong>§1</strong>.)</li>
    <li class='terms-list'>Researchers who access the images online are free to publish their findings and <strong>quote from the palimpsests</strong> in scholarly or other publications, whether electronic or in print. (For guidance on how to reference cited material, see <strong>FOR PUBLICATIONS</strong> below, <strong>§2</strong>.)<br>
    However, any researcher planning to publish an <strong>edition</strong> (including a <strong>transcription</strong>, <strong>translation</strong>, or <strong>comprehensive scholarly analysis</strong>) of a manuscript or one of the texts it contains is asked to consult first with St. Catherine’s Monastery. (See <strong>FOR PUBLICATIONS</strong> below, <strong>§1</strong>.)</li>
  </ol>

  <hr class='divider__red'>

  <h3>FOR PUBLICATIONS</h3>
  <div class='terms-list'>
  <ol class='terms-list'>
    <li class='terms-list'>Inquiries to St. Catherine’s Monastery about <strong>permission to reproduce or publish an image</strong>
or <strong>approval to publish an edition</strong> should be sent to: <%= mail_to 'sinaipermissions@gmail.com' %>.
(For further notes on PREPARING EDITIONS, see <%= link_to 'Citing Contributors', 'https://sinai.library.ucla.edu/terms-of-use/contributors', target: '_blank', rel: 'noopener' %>).</li>
    <li class='terms-list'>References in publications to the <strong>online images</strong> and <strong>descriptions of the palimpsests</strong> should be accompanied by the following <strong>credit line</strong>: <%= mail_to 'sinai.library.ucla.edu' %>, a publication of St. Catherine’s Monastery of the Sinai in collaboration with EMEL and UCLA.”<br>
    (To specify sources of particular descriptions or images, see CITATION AIDS below.)</li>
    <li class='terms-list'>St. Catherine’s Monastery may, at its discretion, require that an additional credit line or caption be added to published images, as part of its permission for publication.</li>
    <li class='terms-list'>We request that <strong>electronic copies of publications based on images</strong> presented on this site be sent to the following email address: <%= mail_to 'sinaipermissions@gmail.com' %><br>
    <strong>In the event that electronic copies of publications are not available</strong>, please send one<br>
    printed copy to:</li>
    <div class=' snail_mail'>
      <span class='monastery'><strong>Saint Catherine’s Monastery of the Sinai</strong></span><br>26 Doryleou, Ampelokipi, Athens 11521, Greece
    </div>
  </ol>
</div>
  <hr class='divider__red'>

  <p>*The terms and conditions on this page rehearse the user agreement from <%= link_to 'Sinai-ID Registration', 'https://sinai.library.ucla.edu/terms-of-use/please-read', target: '_blank', rel: 'noopener' %>.
Violation of these terms and conditions may result in the suspension of your user account and
notification to the Monastery of the violation. </p>
  <p>Users are invited to review the <%= link_to 'Privacy Policy', 'https://sinai-id.org/static_pages/spp_privacy', target: '_blank', rel: 'noopener' %> associated with their login. Registration data is managed
by the Early Manuscripts Electronic Library (EMEL). If you ever wish to delete your user account, email a
request to <%= mail_to 'sinai.id.emel@gmail.com' %>, and EMEL will remove your account data from its database</p>
</div>
