<div class='content-container--static-page content-container--static-page--ursus'>
  <div class='static-page__title-row'>
    <h1 class='static-page__title static-page__title--ursus bordered-title bordered-title--ursus'><%= t('static_pages.iiif_guide.page_title') %></h1>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p'>The UCLA Digital Library Program preserves and provides access to local and global cultural heritage materials to support teaching, research, and expanded use of these materials.  Central to this mission is our commitment to inclusive digital collections that encourage participation from researchers, students, and communities to make new connections and discoveries and to reshape historical narratives around them. To this end, we adopt and develop technologies that promote and enable sharing, reusing, and reframing the digital collections content that we steward. One such technology, and the focus of this guide, is the <a href="https://iiif.io/" class="ur-link">International Image Interoperability Framework</a> (IIIF).</p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>IIIF (pronounced “triple-eye-eff”) is a set of open standards for publishing image and audiovisual content on the web as <span class='static-page__italic'>interoperable</span> and <span class='static-page__italic'>portable</span> resources. With IIIF, resources can be reused in new contexts and imported into IIIF-friendly tools to view, share, or re-contextualize digital collections materials. The guide introduces some of the ways you can leverage IIIF when using the <a href="https://digital.library.ucla.edu" class="ur-link">UCLA Library Digital Collections</a>, including:</p>

  <ul class='static-page__list static-page__list--ursus'>
      <li>Navigating rich viewing experiences for photographs, books and manuscripts, archival materials, and other image-based content</li>
    <li>Comparing images across collections and institutions</li>
    <li>Building digital exhibits</li>
    <li>Annotating images</li>
    <li>Embedding images in new contexts on the web</li>
  </ul>

  <p class='static_page__paragraph static-page__iiif-guide_p'>If you have any questions about or would like more information on reusing UCLA Library Digital Collections materials or IIIF, please contact dlp@library.ucla.edu.</p>

  <p class=' static-page__iiif-guide_p static-page__italic static-page__note'>Note: Copyright laws may apply to materials within our collections, so remember to consult the UCLA Library <a href="https://digital.library.ucla.edu/copyright_and_collections" class="ur-link">copyright policies</a> when reusing images.</p>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# A Rich Viewing Experience %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.viewing_experience').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p'>
  The UCLA Library Digital Collections uses <a href="https://universalviewer.io/" class="ur-link">Universal Viewer</a> (UV) for displaying images and playing streaming audio and video. Universal Viewer is a IIIF-compliant viewer which supports deep zoom of high-resolution images and allows you to pan, zoom, or rotate images, as well as navigate paginated resources, such as books, manuscripts, or pamphlets.
  </p>

  <%# Zoom and Rotate %>
  <p class='static_page__paragraph static-page__iiif-guide_p'><span class='static-page__italic'>Zoom, pan, and rotate:</span> <span class='static-page__bold'>Zoom and rotate</span> buttons are located in the top left of the viewer. You can zoom in (&#43;) or out (<span class='static-page__bold'>&#45;</span>) and rotate the image (⟳) in 90-degree increments. If you zoom in closer than 100%, you can click in the viewing area and use your cursor to move the image and pan horizontally and vertically.</p>

<figure>
  <%= image_tag 'static/ucla_iiif_zoom-rotate.gif', alt: 'A GIF demonstrating the zoom, rotate, and pan functions on a page image from an  autograph album', class: "static-page__image static-page__image--ursus" %><figcaption class="static-page_fig-caption--ursus"><a href="https://digital.library.ucla.edu/catalog/ark:/21198/n12k6g" class="ur-link">Autograph album no. 4</a>, from <a href="https://digital.library.ucla.edu/catalog/ark:/21198/n1t31k" class="ur-link">Five autograph albums belonging to nurse E.F. Raynes Plante and signed by soldiers recuperating at the Red Cross Hospital at 6 Third Avenue, Hove, Sussex, England, 1914-1943, bulk 1914-1918</a>, UCLA Library Digital Collections.</figcaption>
</figure>

    <%# Viewing Mode %>
    <p class='static_page__paragraph static-page__iiif-guide_p'><span class='static-page__italic'>Viewing mode:</span> The <span class='static-page__bold'>view mode</span> icons in the upper right-hand corner of the viewer allow you to toggle between viewing modes: a single image, a book view with facing pages (for paginated items), or a gallery view (when there are multiple images).</p>

    <%= image_tag 'static/ucla_iiif_view-mode.gif', alt: 'A GIF demonstrating the different view modes.', class: "static-page__image static-page__image--ursus" %>

  <%# Navigation of Paginated Objects %>
  <p class='static_page__paragraph static-page__iiif-guide_p'><span class='static-page__italic'>Navigation of paginated objects:</span> The <span class='static-page__bold'>Contents</span> panel (on the left side of the viewer) displays thumbnail images of each image in sequence. You can browse the thumbnails to select specific pages of a resource. You can minimize the <span class='static-page__bold'>Contents</span> panel using the double arrow (&#60;&#60;) on the panel’s top right side. The <span class='static-page__bold'>page navigation</span> icons located in the center of the top bar of the viewer also allow you to page through an item, jump to the first or last image, or choose a specific image in the sequence.</p>

  <%= image_tag 'static/ucla_iiif_navigation.gif', alt: 'A GIF demonstrating navigation of autograph album pages via thumbnail images in the UV “Contents” panel.', class: "static-page__image static-page__image--ursus" %>

  <%# Full Screen %>
  <p class='static_page__paragraph static-page__iiif-guide_p'><span class='static-page__italic'>Full screen: </span> Clicking on the <span class='static-page__bold'>frame</span> icon in the lower right-hand corner will pop the viewer out of the webpage for a full screen viewing experience.</p>

  <%= image_tag 'static/ucla_iiif_uv-fullscreen.png', alt: 'Screenshot of an album displayed on Universal Viewer frame icon circled in red on the lower righhand corner of the screen.', class: "static-page__image static-page__image--ursus" %>

  <%# Download Images %>
  <p class='static_page__paragraph static-page__iiif-guide_p'><span class='static-page__italic'>Download images:</span> The download icon in the lower left-hand corner gives you the option to download the image displayed in the main viewing area. After clicking on the download icon, a white download menu will appear. Click on the “Download” button to open the image in a new tab in your web browser. You can then download the image using your browser’s Save command. The URL for the image can also be copied and used in new contexts, which is covered in the “Reusing IIIF Images” section below.</p>
  <%= image_tag 'static/ucla_iiif_download-images.png', alt: 'Left screenshot displays an album page displayed on Universal Viewer with the download icon circled in red at the bottom left of the screen. Right screenshot displays the download menu that appears after clicking on the icon.', class: "static-page__image static-page__image--ursus" %>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Compare images %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.compare_images').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p '>Since IIIF content is interoperable and portable, you can easily compare images from different collections, or even from different institutions, by importing images into a IIIF-enabled viewer that supports comparison, such as the web-based <a href="https://projectmirador.org/" class="ur-link">Mirador viewer</a>.</p>

  <p class='static_page__paragraph  static-page__iiif-guide_p'>In order to import IIIF resources into other IIIF-enabled viewers or tools, you’ll need the item’s <span class='static-page__bold'><a href="https://iiif.io/guides/using_iiif_resources/#what-is-a-iiif-manifest" class="ur-link">IIIF Manifest</a></span>. A IIIF Manifest is a JSON-formatted document that contains all the information about the image (or images in the case of paginated objects) along with information on how the image(s) should be presented inside a viewer. <span class='static-page__italic'>Luckily, you do not need to be able to read or understand a IIIF Manifest</span> to make use of it! Each IIIF Manifest represents a discrete resource, such as a photograph or a newspaper issue with multiple pages.</p>

  <p class='static_page__paragraph  static-page__iiif-guide_p'>To use the IIIF Manifest, you first need to locate the <span class='static-page__bold'>IIIF Manifest URL</span> for the resources that you wish to compare. For resources in the UCLA Library Digital Collections portal, you will find the IIIF Manifest URL in the “Find this Item” section of the resource’s item page.</p>
  <%= image_tag 'static/ucla_iiif_manifest-url.png', alt: 'Screenshot of the - Find This Item - section from the item record for the mural Our People.', class: "static-page__image static-page__image--ursus static-page__image_find--ursus" %>

  <p class='static_page__paragraph  static-page__iiif-guide_p'>To <span class='static-page__bold'>copy</span> the IIIF Manifest URL, right click the IIIF logo <%= image_tag 'static/ucla_iiif_logo.png', alt: 'iiif logo icon', width: '20px', style: 'display:inline' %> and select “Copy Link.” Clicking on the IIIF logo will open the IIIF Manifest in a new tab in your browser.</p>

  <p class='static_page__paragraph  static-page__iiif-guide_p'>A IIIF Manifest URL from our collections will look something like this: <a href="https://iiif.library.ucla.edu/ark%3A%2F21198%2Fzz002h6jvn/manifest" class="ur-link" target="_blank" rel="noopener noreferrer">https://iiif.library.ucla.edu/ark%3A%2F21198%2Fzz002h6jvn/manifest</a></p>

  <p class='static_page__paragraph  static-page__iiif-guide_p'>Once you have your IIIF Manifest URLs, you can import the IIIF-enabled content to Mirador or other IIIF-friendly viewers and tools. Try it out with UCLA Library’s <a href="https://iiif.library.ucla.edu/viewers/mirador/" class="ur-link">Mirador</a> viewer following these steps:</p>

  <ul class='static-page__steps static-page__list static-page__steps--ursus'>
    <li class="static-page__li-steps static-page__li-steps--ursus">
      <span class='static-page__bold'>Step 1</span>: Open the UCLA Library <a href="https://iiif.library.ucla.edu/viewers/mirador/" class="ur-link">Mirador</a> viewer. Copy the IIIF Manifest URL for one of the resources that you would like to compare, for example <a href="https://digital.library.ucla.edu/catalog/ark:/21198/zz0025q3sx" class="ur-link">the mural "Our People"</a> from the <a href="https://digital.library.ucla.edu/catalog/ark:/21198/zz0025q3sx" class="ur-link">Nancy Tovar Murals of East LA Collection</a>.
    </li>

    <li class="static-page__li-steps static-page__li-steps--ursus">
      <span class='static-page__bold'>Step 2</span>: Click on the blue &#34; &#43; Start Here &#34; button in the top left corner.
    </li>

    <li class="static-page__li-steps static-page__li-steps--ursus">
      <span class='static-page__bold'>Step 3</span>: Click on the blue &#34; &#43; Add Resource &#34; button at the bottom right corner of the page and paste the IIIF Manifest URL into the text box. Click &#34;Add.&#34; The item should now appear in the list of available IIIF resources. Click on the resource you just added to open it in Mirador.
    </li>

    <li class="static-page__li-steps static-page__li-steps--ursus">
      <span class='static-page__bold'>Step 4</span>: Copy the IIIF Manifest URL for the second resource that you would like to compare, for example <a href="https://digital.library.ucla.edu/catalog/ark:/21198/zz0025nnnp">the mural "Untitled" by El Congreso de Artistas Cosmicos de las Americas de San Diego</a> from the same collection. Select the blue /"+/" button in the top left corner. Click the /"+ Add Resource/" button to import this IIIF resource. You can add more items to the list of resources and compare multiple images side-by-side in the Mirador viewer.
    </li>
    <li class="static-page__li-steps static-page__li-steps--ursus">
      <span class='static-page__bold'>Step 4</span>: Copy the IIIF Manifest URL for the second resource that you would like to compare, for example a <a href="https://digital.library.ucla.edu/catalog/ark:/21198/zz0025nnnp" class="ur-link">the mural "Untitled" by El Congreso de Artistas Cosmicos de las Americas de San Diego</a> from the same collection. Select the blue &#34; &#43; &#34; button in the top left corner. Click the &#34; &#43; Add Resource &#34; button to import this IIIF resource. You can add more items to the list of resources and compare multiple images side-by-side in the Mirador viewer.
    </li>

    <li class="static-page__li-steps static-page__li-steps--ursus"><%= image_tag 'static/ucla_iiif_import-manifest.gif', alt: 'A GIF demonstrating how to import a IIIF Manifest into Mirador.', class: 'static-page__image static-page__image--ursus' %></li>

    <li class="static-page__li-steps static-page__li-steps--ursus"><%= image_tag 'static/ucla_iiif_open-2-images.gif', alt: 'A GIF demonstrating how to open two different images in the Mirador viewer.', class: 'static-page__image static-page__image--ursus' %></li>
  </ul>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Discover and Collect %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.discover_and_collect').upcase %></h2>
  </div>

    <p class='static_page__paragraph static-page__iiif-guide_p'>There is no unified search for IIIF resources, but many institutions across the globe have guides for finding IIIF resources within their digital collections. For a list of these resources, visit the IIIF’s <a href="https://iiif.io/guides/finding_resources/" class="ur-link" target="_blank" rel="noopener noreferrer">Guides to finding IIIF resources</a> page.</p>

    <p class='static_page__paragraph static-page__iiif-guide_p'><a href="https://seige.digital/en/detektiiif/" class="ur-link">detektIIIF</a> is a browser extension for Chrome and Firefox that detects IIIF resources (manifests, images, and collections) in websites. It allows you to collect IIIF manifests in a basket and send them to any compatible IIIF application.</p>

    <%= image_tag 'static/ucla_iiif_detektiiif.jpg', alt: 'Screenshot of detekt iiif selecting a basket', class: "static-page__image static-page__image--ursus" %>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Build your own digital exhibit %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.build_your_own').upcase %></h2>
  </div>

    <p class='static_page__paragraph static-page__iiif-guide_p '>With IIIF Manifests, you can also build your own digital exhibits using items from the <a href="https://digital.library.ucla.edu" class="ur-link">UCLA Library Digital Collections</a>. Exhibits can be used to create a narrative around digital resources, recontextualize items in the collections, or highlight a particular history or experience using primary sources from one or more institutional digital collections. Thanks to the efforts of the IIIF community, there are a number of IIIF-friendly tools that allow you to create exhibits using IIIF, such as <a href="https://minicomp.github.io/wax/" class="ur-link">Wax</a>, <a href="https://exhibit.so/" class="ur-link">Exhibit.so</a>, <a href="https://www.cogapp.com/storiiies" class="ur-link">Storiiies</a>, and <a href="https://collectionbuilder.github.io" class="ur-link">Collection Builder</a>.</p>

    <p class='static_page__paragraph static-page__iiif-guide_p'><a href="https://exhibit.so/" class="ur-link">Exhibit.so</a>, a browser-based IIIF storytelling application, allows you to build exhibits using IIIF Manifests with just a few clicks. Exhibits made with Exhibit.so can be shared via a URL or can be embedded into any web page using HTML. See the exhibit <a href="https://www.exhibit.so/exhibits/zgUYUqaUgin5g7oHnhic" class="ur-link">“Eadweard Muybridge's Animal Locomotion.”</a> To create your own exhibit, follow the Exhibit.so’s <a href="https://exhibit.so/docs/creating-an-exhibit" class="ur-link">Creating an Exhibit guide</a>.</p>

  <div class="static-page__responsive-iframe-container--ursus">
    <iframe src="https://www.exhibit.so/exhibits/zgUYUqaUgin5g7oHnhic?embedded=true" class="static-page__responsive-iframe--ursus" allowfullscreen allow="autoplay" frameborder="0"></iframe>
  </div>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Annotate images %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.annotate_images').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p '>IIIF also supports web annotation of images using the W3C Web Annotation Model. Annotating images requires connecting a dedicated annotation server to a viewing interface, however there are a few IIIF-friendly tools that support annotation through a built-in annotation environment, such as <a href="https://annonatate.herokuapp.com" class="ur-link">Annonatate</a> or <a href="https://recogito.pelagios.org/" class="ur-link">Recogito</a>. The Mirador viewer has an Annotation plugin, which does require a dedicated annotation server to store annotations, but you can try out the annotation feature using the <a href="https://mirador-annotations.netlify.app/" class="ur-link">Mirador Annotations demo</a>. Try importing a resource into the Annotations demo using a IIIF Manifest URL and annotate some images using the annotation tools provided.</p>

  <%= image_tag 'static/ucla_iiif_annotation.png', alt: 'Screenshot of an annotation on Vincent Van Gogh’s self-portrait in the Mirador viewer.', class: 'static-page__image static-page__image--ursus' %>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# More IIIF-friendly tools and viewers %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.iiif_friendly').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p '>There are a variety of IIIF-enabled tools that you can use to work with IIIF resources in addition to the tools mentioned above. Listed here are just a few, but you can explore more options through <a href="https://github.com/IIIF/awesome-iiif" class="ur-link">IIIF Awesome’s</a> lists of <a href="https://github.com/IIIF/awesome-iiif#image-viewers" class="ur-link">Image Viewers</a> and <a href="https://github.com/IIIF/awesome-iiif#exhibition-and-guided-viewing-tools" class="ur-link">Exhibition and Guided Viewing Tools</a>, or on the IIIF website’s <a href="https://iiif.io/get-started/#end-users" class="ur-link">“Resources for end users”</a>.</p>

  <ul class='static-page__list static-page__list--ursus'>
    <li><a href="https://readcoop.eu/transkribus/" class="ur-link">Tranksribus</a> is a comprehensive platform for the digitisation, AI-powered text recognition, transcription and searching of historical documents – from any place, any time, and in any language.</li>

    <li><a href="https://recogito.pelagios.org/" class="ur-link">Recogito</a> supports annotation of entities such as people, places, and relationships in text and image documents that can be exported for use in other data applications.</li>

     <li><a href="https://storiiies.cogapp.com/" class="ur-link">Storiiies</a> is a web platform for creating digital stories around a single IIIF resource.</li>

    <li><a href="http://codh.rois.ac.jp/software/iiif-curation-viewer/demo/" class="ur-link">IIIF Curation Viewer</a> is an image viewer compliant with IIIF standards. In addition to zoom and   page-view capabilities, it offers a light box feature that allows users to cut and curate parts of images from multiple IIIF objects.</li>
  </ul>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Use and transform IIIF Images %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.use_and_transform').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p'>IIIF also supports transformation and embedding of image resources without the use of a IIIF Manifest in a dedicated viewer. A IIIF-enabled image, or even regions of that image, can be embedded in numerous contexts such as web pages, presentation slides, social media, and teaching and learning materials. In this way, you can easily share curated and transformed content in new contexts across the web using the IIIF image URL. </p>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# The IIIF image URL %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.the_iiif_image_url').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Using or transforming a IIIF image resource requires the image’s <span class='static-page__bold'>IIIF image URL</span>. IIIF image URLs are used in IIIF Manifests to reference the image files that make up the IIIF resource represented by the Manifest, such as a photograph or the individual page images of a book. Finding the IIIF image URLs for a resource once required a deeper look within a IIIF Manifest, but now there are tools, such as the <a href="https://seige.digital/en/detektiiif/" class="ur-link" target="_blank" rel="noopener noreferrer">detekIIIF</a> browser plugin mentioned above and the Universal Viewer’s download option, that will allow you to find the IIIF image URL for an image in order to embed or transform an image. </p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>IIIF image URLs follow a standard syntax and contain parameters at the end that can be edited to transform an image:<br><span class="static-page__iiif-guide_code"><span class='static-page__iiif-guide_code_blue--ursus'>{scheme}</span>://<span class='static-page__iiif-guide_code_red--ursus'>{server}</span><span class='static-page__iiif-guide_code_blueviolet--ursus'>{/prefix}</span>/<span class='static-page__iiif-guide_code_forestgreen--ursus'>{identifier}</span>/<span class='static-page__iiif-guide_code_goldenrod--ursus'>{region}</span>/<span class='static-page__iiif-guide_code_hotpink--ursus '>{size}</span>/<span class='static-page__iiif-guide_code_coral--ursus'>{rotation}</span>/<span class='static-page__iiif-guide_code_dodgerblue--ursus'>{quality}</span>.<span class='static-page__iiif-guide_code_black'>{format}</span></span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Here is an example IIIF image URL for a <a href="https://digital.library.ucla.edu/catalog/ark:/13030/hb300005c2" class="ur-link">photograph of the political activist and philosopher, Angela Davis</a>:<br><span class="static-page__iiif-guide_code"><span class='static-page__iiif-guide_code_blue--ursus'>https://</span><span class='static-page__iiif-guide_code_red--ursus'>iiif.library.ucla.edu</span><span class='static-page__iiif-guide_code_blueviolet--ursus'>/iiif/2/</span><span class='static-page__iiif-guide_code_forestgreen--ursus'>ark%3A%2F13030%2Fhb300005c2</span>/<span class='static-page__iiif-guide_code_goldenrod--ursus'>full</span>/<span class='static-page__iiif-guide_code_hotpink--ursus '>3072,</span>/<span class='static-page__iiif-guide_code_coral--ursus'>0</span>/<span class='static-page__iiif-guide_code_dodgerblue--ursus'>default</span>.jpg</span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Let’s take a look at a IIIF image URL in a IIIF Manifest. The <a href="https://ingest.iiif.library.ucla.edu/ark%3A%2F13030%2Fhb300005c2/manifest?_ga=2.43933285.1578987917.1661118954-1130329856.1655829556" class="ur-link">IIIF Manifest for the Angela Davis image</a> contains the IIIF image URL in the “resource.@id” property (circled in red).</p>

  <%= image_tag 'static/ucla_iiif_manifest-properties.png', alt: 'Screenshot of the IIIF image URL in the resource at id property', class: "static-page__image static-page__image--ursus static-page__image_manifest_code--ursus" %>

  <p class='static_page__paragraph static-page__iiif-guide_p'>There is a lot of information in a IIIF Manifest, so the image URL can be tricky to find. <span class='static-page__italic'><span class='static-page__bold'>Tip:</span> Use your browser’s “Find” or “Search page” function (Ctrl + F, etc.) to look for “<span class='static-page__bold'>.jpg</span>” in the Manifest when you are viewing a IIIF Manifest.</span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Of course, if you are looking at a Manifest with a lot of images, such as for a book with tens or hundreds of page images, it can be difficult to find the IIIF image URL for a specific image. Luckily, the IIIF Community has developed some wonderful tools to help you locate IIIF image URLs easily. The easiest way to find a IIIF image URL in the UCLA Library Digital Collections is to use the “Download” option for the image you would like to use. See the <span class='static-page__italic'>“Download images”</span> section above for details.</p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Another useful tool is the <a href="https://www.lizmfischer.com/iiif-tools/manifest" class="ur-link" target="_blank" rel="noopener noreferrer">IIIF Manifest Explorer</a> by Liz Fischer. This tool will display all of the images from a IIIF Manifest and their corresponding IIIF image URLs as a browsable list. Just input a IIIF Manifest URL to generate the list of images. From the links available, choose the “Direct image URL” option for the IIIF image URL as highlighted in the screenshot below.</p>

  <%= image_tag 'static/ucla_iiif_manifest-explorer.png', alt: 'Screenshot of the IIIF image URL in the resource at id property', class: "static-page__image static-page__image--ursus" %>

  <p class='static_page__paragraph static-page__iiif-guide_p'>The detektIIIF browser plugin discussed above is also an easy way to find IIIF images URLs that are present on your current web page.</p>
  <p class='static_page__paragraph static-page__iiif-guide_p'>Now that you can find your IIIF image URLs, you are ready to transform your images. Some of the transformations you can achieve using only the IIIF image URL include adjusting the region (cropping), adjusting the size or rotation, and adjusting the image quality.</p>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Crop images with the IIIF image URL %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.crop_images_with_iiif').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p'>IIIF images can be cropped by adjusting the region parameter of a IIIF image URL:<br><span class="static-page__iiif-guide_code"><span class='static-page__iiif-guide_code_blue--ursus'>{scheme}</span>://<span class='static-page__iiif-guide_code_red--ursus'>{server}</span><span class='static-page__iiif-guide_code_blueviolet--ursus'>{/prefix}</span>/<span class='static-page__iiif-guide_code_forestgreen--ursus'>{identifier}</span>/<span class='static-page__iiif-guide_code_goldenrod--ursus'>{region}</span>/<span class='static-page__iiif-guide_code_hotpink--ursus '>{size}</span>/<span class='static-page__iiif-guide_code_coral--ursus'>{rotation}</span>/<span class='static-page__iiif-guide_code_dodgerblue--ursus'>{quality}</span>.<span class='static-page__iiif-guide_code_black'>{format}</span></span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>The default value of a region is “full” – meaning the full image. You can change this value directly in the URL to a specific pixel region defined by x, y, height, and width.</p>

  <%= image_tag 'static/ucla_iiif_image-region.gif', alt: '', class: "static-page__image static-page__image--ursus" %>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Guessing at and inputting the pixel dimension for a cropped region isn’t ideal, but you can use tools such as the <a href="https://ncsu-libraries.github.io/iiif-crop-tool/" class="ur-link" target="_blank" rel="noopener noreferrer">NCSU Libraries Cropping Tool</a> to crop your images. You will need to provide a IIIF image URL, such as this one from <a href="https://digital.library.ucla.edu/catalog/ark:/21198/n12k6g" class="ur-link">E.F. Raynes Plante Autograph album No. 4</a>, and drag the cropping box to enclose the region you need. The Cropping Tool will generate an updated IIIF image URL that you copy for use in another context. Note that as you change the selected area and zoom in and out, the URL in the left-hand column also changes. If you paste this new URL into your browser, you will see the cropped version of your image.</p>

  <%= image_tag 'static/ucla_iiif_crop-tool.png', alt: '', class: "static-page__image static-page__image--ursus" %>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Resize and rotate images with the IIIF image URL %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.resize_and_rotate').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Images can also be resized and rotated by editing the IIIF image URL size and rotation parameters:<br><span class="static-page__iiif-guide_code"><span class='static-page__iiif-guide_code_blue--ursus'>{scheme}</span>://<span class='static-page__iiif-guide_code_red--ursus'>{server}</span><span class='static-page__iiif-guide_code_blueviolet--ursus'>{/prefix}</span>/<span class='static-page__iiif-guide_code_forestgreen--ursus'>{identifier}</span>/<span class='static-page__iiif-guide_code_goldenrod--ursus'>{region}</span>/<span class='static-page__iiif-guide_code_hotpink--ursus '>{size}</span>/<span class='static-page__iiif-guide_code_coral--ursus'>{rotation}</span>/<span class='static-page__iiif-guide_code_dodgerblue--ursus'>{quality}</span>.<span class='static-page__iiif-guide_code_black'>{format}</span></span></p>

<p class='static_page__paragraph static-page__iiif-guide_p'>For example:<br>
<span class="static-page__iiif-guide_code"><span class='static-page__iiif-guide_code_dodgerblue--ursus'>https://iiif.library.ucla.edu/iiif/2/ark%3A%2F21198%2Fn12k6g%2F5x359j7r/full/full/0/default.jpg</span></span>
</p>

  <ul class='static-page__steps static-page__list static-page__steps--ursus'>
    <li class="static-page__li-steps">
  <p class='static_page__paragraph static-page__iiif-guide_p'>When an image is not scaled (resized) the parameter value is “full.” An image can be resized by changing the value in the URL to the desired width (w,) or height (,h) in pixels, for example:</p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Setting the exact width of the image to 300 px:<br><span class='static-page__iiif-guide_code'>.../full/<span class='static-page__iiif-guide_code_blueviolet--ursus'>300,</span>/0/default.jpg</span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Or setting the exact height of the image to 500 px:<br><span class='static-page__iiif-guide_code'>.../full/<span class='static-page__iiif-guide_code_blueviolet--ursus'>,500</span>/0/default.jpg</span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>The size can also be expressed as a percentage, for example 50% of the original size:<br><span class='static-page__iiif-guide_code'>.../full/<span class='static-page__iiif-guide_code_blueviolet--ursus'>pct:50</span>/0/default.jpg</span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>For more information on resizing IIIF images using the URL parameters, see the <a href="https://iiif.io/api/image/2.0/#size" class="ur-link" target="_blank" rel="noopener noreferrer">IIIF Image API Size Parameter documentation</a>.</p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>You can rotate the image by changing the rotation value anywhere from 0 to 360 degrees. For example, an image rotated 180 degrees (halfway)::<br><span class='static-page__iiif-guide_code'>.../full/><span class='static-page__iiif-guide_code_blueviolet--ursus'>180</span>/default.jpg</span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>For more information on rotating IIIF images using the URL parameters, see the <a href="https://iiif.io/api/image/2.0/#rotation" class="ur-link" target="_blank" rel="noopener noreferrer">IIIF Image API Rotation Parameter documentation</a>.</p>

  <%= image_tag 'static/ucla_iiif_rotated-image.png', alt: 'Screenshot of image shown upsidedown', class: "static-page__image static-page__image--ursus" %>
  </li>
  </ul>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Adjust the image quality using the IIIF image URL %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.adjust_image_quality').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p'>IIIF also allows you to change the image “quality” using the IIIF image parameters. The quality parameter determines whether the image is delivered in color, grayscale, or black and white. For example, to render a color image in black and white, change the <span class='static-page__italic'>quality</span> parameter from “default” or “color” to “bitonal”. Note that images originally in greyscale and black and white cannot be rendered in color.<br><span class='static-page__iiif-guide_code'>https://iiif.library.ucla.edu/iiif/2/ark%3A%2F21198%2Fn12k6g%2F5x359j7r/full/full/0/<span class='static-page__iiif-guide_code_dodgerblue--ursus'>bitonal</span>.jpg</span></p>

  <p class='static_page__paragraph static-page__iiif-guide_p'>To generate an image in grayscale, set the parameter to “gray”:<br><span class='static-page__iiif-guide_code'>https://iiif.library.ucla.edu/iiif/2/ark%3A%2F21198%2Fn12k6g%2F5x359j7r/full/full/0/<span class='static-page__iiif-guide_code_dodgerblue--ursus'>gray</span>.jpg</span></p>

  <%= image_tag 'static/ucla_iiif_grayscale-image.png', alt: 'Screenshot of image shown in grayscale', class: "static-page__image static-page__image--ursus" %>

  <p class='static_page__paragraph static-page__iiif-guide_p'>If you want to experiment with adjusting the IIIF image URL parameters, try the <a href="https://www.learniiif.org/image-api/playground.html" class="ur-link" target="_blank" rel="noopener noreferrer">IIIF Image API Playground</a>.</p>

  <hr class='divider divider--ursus static-page__hr_margins'>

  <%# Embed images in new contexts %>
  <div class='static-page__title-row'>
    <h2 class='static-page__subtitle--ursus'><%= t('static_pages.iiif_guide.embed_images').upcase %></h2>
  </div>

  <p class='static_page__paragraph static-page__iiif-guide_p'>Once you have a IIIF image URL and have transformed it to meet your needs, you can share or embed the resulting image just like you would any other image where you can use a direct image URL. For example:</p>

  <ul class='static-page__list static-page__list--ursus'>
    <li>Add the image to a Google slide using the “Insert image from web” option</li>
    <li>Include the image in a web page using the HTML &#60;img&#62; tag</li>
    <li>Share the image URL on social media, via email, etc.</li>
  </ul>
</div>
