<div class='content-container--static-page'>
  <div class='static-page__title-row'>
    <h1 class='static-page__title bordered-title bordered-title--ursus'><%= t('static_pages.contact.page_title') %></h1>
  </div>

  <div class='static-page__row static-page__row--ursus'>
    <div class='static-page__subtitle'>
      <%= t('static_pages.contact.collection_inquires').upcase %>
    </div>
    <div class='static-page__text static-page__text--ursus'>
      For research, permissions, and reproduction inquiries please contact the original repository. In most cases, this will be the the UCLA Library Special Collections.
    </div>
  </div>

  <hr class='divider divider--ursus'>

  <div class='static-page__row static-page__row--ursus'>
    <div class='static-page__subtitle'>
      <%= t('static_pages.contact.special_collections').upcase %>
    </div>
    <div class='static-page__text static-page__text--ursus'>
      Users can find information on requesting reproductions, as well as the "Request to Publish Form" on their <%= link_to 'Special Collections Reproductions', 'https://www.library.ucla.edu/about/policies/lsc-duplication-and-copyright-policies/ ', class: 'ur-link' %> page, or you can email askLSC@library.ucla.edu.
    </div>
  </div>

  <hr class='divider divider--ursus'>

  <div class='static-page__row static-page__row--ursus'>
    <div class='static-page__subtitle'>
      <%= t('static_pages.contact.not_working').upcase %>
    </div>
    <div class='static-page__text static-page__text--ursus'>
      If you experience any technical issues, please let us know at dlp@library.ucla.edu.
    </div>
  </div>

  <hr class='divider divider--ursus'>

</div>
