<div class='search-filter-container'>
  <%= render 'catalog/constraints' %>
</div>

<div class='results_container'>
<% url = request.original_url %>
<% if url.include?('has_model_ssim') && url.include?('Collection') %>
  <h4 class='catalog-results'><%= @response['response'].dig(:numFound) %> Collections <%= render_results_collection_tools wrapping_class: "search-widgets" %></h4>
<% else %>
  <h4 class='catalog-results'><%= @response['response'].dig(:numFound) %> Catalog Results <%= render_results_collection_tools wrapping_class: "search-widgets" %></h4>
<% end %>
<% if show_pagination? and @response.total_pages > 1 %>
  <div class='rectangle'> <%= render 'search_header' %> </div>
  <hr>
<% end %>



<h2 class='sr-only'><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render 'zero_results' %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<div class='rectangle'><%= render 'results_pagination' %></div>
<%= render 'old_collections' %>
</div>
