<div class='search-results-container'>

<!-- temporary to evaluate scroll to top -->
<!-- place this anchor at the spot you want to scroll to -->
<a id="scrollHere"></a>

<!-- this button is moved to the bottom right by css - do not scroll to this -->
<a class="fa fa-chevron-up btn-base btn-base-sm btn-base--base btn-base--base--ursus-scroll" href="#scrollHere"></a>

<script type="text/javascript">
  $(window).scroll(function () {
    <!-- fade in the button when scrolling past the anchor -->
    if ($(this).scrollTop() < $('#scrollHere').offset().top) {
      $('.btn-base--base--ursus-scroll').fadeOut();
    } else {
      $('.btn-base--base--ursus-scroll').fadeIn();
    }
  });

  <!-- Click event to scroll to anchor -->
  $('.btn-base--base--ursus-scroll').click(function () {
    var $container = $("html,body");

    <!-- scroll to either ID -->
    <!-- scroll to ID method (scrolls to the anchor that you placed, leaves a nice bit of space at the top) -->
    $container.animate({scrollTop: $('#scrollHere').offset().top, scrollLeft: 100},800);

    return false;
  });
</script>

 <%= render 'catalog/constraints' %>
  <% url = request.original_url %>
  <% if url.include?('has_model_ssim') && url.include?('Collection') %>
    <div class='search-count-wrapper'>
      <h2 class='search-count__heading'>
        <%= @response['response'].dig(:numFound) %> Collections
      </h2>
      <%= render_results_collection_tools wrapping_class: "search-widgets search-widgets-wrapper" %>
    </div>
  <% else %>
    <div class='search-count-wrapper'>
      <h2 class='search-count__heading'>
        <%= @response['response'].dig(:numFound) %> Catalog Results
      </h2>
      <%= render_results_collection_tools wrapping_class: "search-widgets search-widgets-wrapper" %>
    </div>
  <% end %>
  <hr class='divider'>

  <%= render 'results_pagination' %>

  <h2 class='sr-only'><%= t('blacklight.search.search_results') %></h2>

  <% if @response.empty? %>
    <%= render 'zero_results' %>
  <% elsif render_grouped_response? %>
    <%= render_grouped_document_index %>
  <% else %>
    <%= render_document_index %>
  <% end %>

  <%= render 'results_pagination' %>

  <% if !Flipflop.sinai? %>
    <%= render 'old_collections' %>
  <% end %>
</div>
