<div class='collection-record-container'>
  <% if document[:summary_tesim] %>
    <h2>About this Collection</h2>
    <p itemprop="abstract"> 
      <%= document[:summary_tesim][0] %> 
    </p>
    <hr>
  <% end %>

  <%= render 'catalog/collection/collection_overview',  document: document  %>
  <%= render 'catalog/collection/find_this_collection', document: document  %>
  <%= render 'catalog/collection/service_contact', document: document  %>

  <a href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=<%= document[:title_tesim][0] %>" class="btn btn-warning btn-lg browse-collection-btn" role="button">Browse items in this collection</a>
</div>