<%# local params:
         label
         value
         options =>
         :remove => url for a remove constraint link
         :classes => array of classes to add to container span
         options ||= {} %>
<% options ||= {} %>

<!-- SINAI -->
<% if Flipflop.sinai? %>
  <span class="btn-group <%= options[:classes]&.join(" ") %>">
    <span class="btn-base filter-group__label filter-group__label--sinai">
      <% unless label.blank? %>
        <span class="filter-label-key filter-label-key--sinai">
          <% if label == "Has Model Ssim" %>
            Object Type
          <% else %>
            <%= label %>
          <% end %>
          </span>
      <% end %>
      <% unless value.blank? %>
        <%= content_tag :span, value, class: 'filter-label-value filter-label-value--sinai', title: strip_tags(value) %>
      <% end %>
    </span>
    <% unless options[:remove].blank? %>
      <% accessible_remove_label = content_tag :span, class: 'sr-only' do
           if label.blank?
             t('blacklight.search.filters.remove.value', value: value)
           else
             t('blacklight.search.filters.remove.label_value', label: label, value: value)
           end
         end %>

      <%= link_to(content_tag(:span, '✖', class: 'remove-icon') + accessible_remove_label,
                  options[:remove], class: 'btn-base filter-label-remove filter-label-remove--sinai') %>
    <%- end -%>
  </span>

<!-- URSUS -->
<% else %>
  <span class="btn-group <%= options[:classes]&.join(" ") %>">
    <span class="btn-base filter-group__label filter-group__label--ursus">
      <% unless label.blank? %>
        <span class="filter-label-key filter-label-key--ursus">
          <% if label == "Has Model Ssim" %>
            Object Type
          <% else %>
            <%= label %>
          <% end %>
          </span>
      <% end %>
      <% unless value.blank? %>
        <%= content_tag :span, value, class: 'filter-label-value filter-label-value--ursus', title: strip_tags(value) %>
      <% end %>
    </span>
    <% unless options[:remove].blank? %>
      <% accessible_remove_label = content_tag :span, class: 'sr-only' do
           if label.blank?
             t('blacklight.search.filters.remove.value', value: value)
           else
             t('blacklight.search.filters.remove.label_value', label: label, value: value)
           end
         end %>

      <%= link_to(content_tag(:span, '✖', class: 'remove-icon') + accessible_remove_label,
                  options[:remove], class: 'btn-base filter-label-remove filter-label-remove--ursus') %>
    <%- end -%>
  </span>
<% end %>
