<div class='collection-grid__wrapper'>
<!-- Grid One  -->
 <a class="collection-grid__item-wrapper" href="/catalog/<%= url_encode('ark:/21198/zz00294nz8') %>%">
     <div class="collection-grid__item-image grid-item-one"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Los Angeles Daily News Negatives</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="collection-grid__item-desc">
        Selected news photographs from 1920s, 30s, and 40s.
        </p>
        <p class="collection-grid__item-link">More about this  collection</p>
      </div>
  </a>
    <!-- Grid Two  -->
 <a class="collection-grid__item-wrapper" href="/catalog/<%= url_encode('ark:/21198/zz00011f8m') %>">
     <div class="collection-grid__item-image grid-item-two"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Walter E. Bennett Photographic Collection, 1937-1983</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">News photographs related to American Presidents 1960s, 70s, and 80s.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
  <!-- Grid Three  -->
 <a class="collection-grid__item-wrapper" href="/catalog/<%= url_encode('ark:/21198/zz002h2fpt') %>">
     <div class="collection-grid__item-image grid-item-three"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Will Connell Papers</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">Advertising photographs from the 1920s and 30s.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
  <!-- Grid Four  -->
 <a class="collection-grid__item-wrapper" href="/catalog/<%= url_encode('ark:/21198/zz0008hs73') %>">
     <div class="collection-grid__item-image grid-item-four"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Collection of California Postcards</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">Sample postcards from our large physical collection.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
  <!-- Grid Five  -->
 <a class="collection-grid__item-wrapper" href="/catalog/<%= url_encode('ark:/21198/zz0009gx3x') %>">
     <div class="collection-grid__item-image grid-item-five"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Ethiopic Manuscripts</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">A collection of manuscripts from the 16th-20th centuries in Ge’ez and Amharic.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
  <!-- Grid Six  -->
 <a class="collection-grid__item-wrapper" href="/catalog/<%= url_encode('ark:/21198/zz001dzc12') %>">
     <div class="collection-grid__item-image grid-item-six"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Arkatov (James) Collection</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">Photographs of jazz musicians performing in Los Angeles.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
</div>
<a href="/catalog?f%5Bhas_model_ssim%5D%5B%5D=Collection&view=list" class="btn-base btn-base-lg btn-ursus--gold">See More Collections</a>
