<!-- First row -->
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail no-border">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=People">
        <img src="<%= image_url('chavez.jpg') %>" alt="Carlos Chávez, portrait" Style="border: 1px solid #ddd; width:100%"/>
      </a>
      <div class="caption">
        <%= link_to_featured_work('Carlos Chávez, portrait', '13030/hb7k4007rb') %>
      </div>
    </div>
    <div class="post-content">
      People
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail no-border">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Events">
        <img src="<%= image_url('swan.jpg') %>" alt="Swan float in the Tournament of Roses Parade, Pasadena, 1938" style="border: 1px solid #ddd; width:100%" />
      </a>
      <div class="caption">
        <%= link_to_featured_work('Swan float in the Tournament of Roses Parade, Pasadena, 1938', '21198/zz0025gr02') %>
      </div>
    </div>
    <div class="post-content">
      Events
    </div>
  </div>
</div>

<!-- Second row -->
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail no-border">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Disaster">
        <img src="<%= image_url('tombstone.jpg') %>" alt="Lights" style="border: 1px solid #ddd; width:100%"/>
      </a>
      <div class="caption">
        <%= link_to_featured_work('Side view "The Tombstone", a slab of the St. Francis Dam visible after its disastrous 1928 collapse.', '21198/zz00253zhs') %>
      </div>
    </div>
    <div class="post-content">
      Disasters
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail no-border">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Government">
        <img src="<%= image_url('primary.jpg') %>" alt="Lights" style="border: 1px solid #ddd; width:100%"/>
      </a>
      <div class="caption">
        <%= link_to_featured_work('Corridor filled with men and women tabulating ballots for California primary election in Los Angeles, Calif., 1954', '21198/zz0002pzjx') %>
      </div>
    </div>
    <div class="post-content">
      Government
    </div>
  </div>
</div>

