<div class='collection-grid__wrapper'>
<!-- Grid One  -->
 <a class="collection-grid__item-wrapper" href="<%= solr_document_path('ark:/21198/zz0002np7z') %>">
     <div class="collection-grid__item-image grid-item-one"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Los Angeles Times Photographic Collection</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="collection-grid__item-desc">Collection of photonegatives and prints documenting events and people in So. CA, the US, and the world. The material originates from the Los Angeles Times.  </p>
        <p class="collection-grid__item-link">More about this  collection</p>
      </div>
  </a>
    <!-- Grid Two  -->
 <a class="collection-grid__item-wrapper" href="<%= solr_document_path('ark:/21198/z1db9vb9') %>">
     <div class="collection-grid__item-image grid-item-two"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Carteles de Cine</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">Over 1300 posters from 1960s-2016 designed by Cuban artists for both Cuban and foreign films, film festivals, and film related special events. Posters were commissioned by Cinemateca de Cuba, part of Instituto Cubano del Arte e Industria Cinematográficos.

        </p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
  <!-- Grid Three  -->
 <a class="collection-grid__item-wrapper" href="/catalog?f%5Bhas_model_ssim%5D%5B%5D=Collection&f%5Bprogram_sim%5D%5B%5D=Modern+Endangered+Archives+Program">
     <div class="collection-grid__item-image grid-item-three"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Modern Endangered Archives Program</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">The Modern Endangered Archive Program (MEAP) funds documentation and digitization to preserve global cultural heritage.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
  <!-- Grid Four  -->
 <a class="collection-grid__item-wrapper" href="<%= solr_document_path('ark:/21198/z1qv83mc') %>">
     <div class="collection-grid__item-image grid-item-four"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Material Culture of the Tule Lake Japanese Language Library</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">The Tule Lake Japanese Language Library (Tsūri Rēki Nihongo Toshokan ツーリレーキ日本語圖書館) was conceptualized, created, and administered by incarcerated Japanese Americans and Japanese immigrants at the Tule Lake Internment Camp in Newell, California (Block 46, Barracks 8) between November 26, 1943 and November 30, 1945 during WWII. It housed roughly 7,000 volumes and at its peak had a circulation of over 17,000 volumes loaned per month and fostered intellectual activity, social engagement, and a quiet space for reflection. The majority of the collection was donated by those who had come to Tule Lake with only what they could carry, with some additional contributions from other incarceration sites. The collection was established and run by a subgroup of the Tsūri Rēki Danjo Seinendan 鶴嶺湖男女青年團 (“Tule Lake Young Men and Women’s Group”). It can be contextualized as both a prison collection and a diaspora collection. Donated by the Japanese Language School Unified System (Kyodo System) in 1999, UCLA has the only known archive of materials from this historic library, currently holding 1,947 volumes. The material culture of these texts can tell us much about the paths the books traveled before their arrival at Tule Lake, logistics of the systems the volunteer librarians developed, innovative wartime preservation methods of well-loved materials, and U.S. governmental monitoring and censorship of Japanese language texts. Many of the volumes also contain the original checkout cards with borrowers’ signatures and barracks addresses; the collection includes 1,205 of these cards. For more information about the collection, please visit the library guide at: https://guides.library.ucla.edu/japanese/tulelake.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
  <!-- Grid Five  -->
 <a class="collection-grid__item-wrapper" href="<%= solr_document_path('ark:/21198/zz0002bk1c') %>">
     <div class="collection-grid__item-image grid-item-five"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Cashin (Bonnie) Collection of Fashion, Theater and Film Costume Design, 1913-2000</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">The collection contains Bonnie Cashin's personal archive documenting her design career. The collection includes Cashin's design illustrations, writings on design, contractual paperwork, photographs of her clothing designs, and press materials including press releases and editorial coverage of her work. Personal photographs and letters to Cashin are also included.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
  <!-- Grid Six  -->
 <a class="collection-grid__item-wrapper" href="<%= solr_document_path('ark:/21198/zz0002gwzg') %>">
     <div class="collection-grid__item-image grid-item-six"></div>
      <div class="collection-grid__item-content">
        <h3 class="collection-grid__item-title">Patent Medicine Trade Cards</h3>
        <hr class="collection-grid__item-liner align-item-start">
        <p class="grid-summary">A collection of 247 patent medicine trade cards. Patent medicines were medical compounds sold under a variety of names and labels, though they were for the most part actually trademarked medicines, not patented. The trade cards are small, colorfully illustrated advertising cards touting a particular medicine and its many cures. The era of patent medicine began to unravel in the U.S. with the passage of the first Pure Food and Drug Act in 1906.</p>
        <p class="collection-grid__item-link">More about this collection</p>
      </div>
  </a>
</div>
<a href="/catalog?f%5Bhas_model_ssim%5D%5B%5D=Collection&view=list" class="btn-base btn-base-lg btn-ursus--gold">See More Collections</a>
