<!-- SINAI -->
<% if Flipflop.sinai? %>
  <% doc_presenter = index_presenter(document) %>

  <div class="document__list-item-wrapper document__list-item-wrapper--sinai">
    <!-- default partial to display solr document fields in catalog index view -->

    <%# THUMBNAIL %>
    <% if presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
      <%# Thumnail NOT logged in %>
      <% if !cookies[:sinai_authenticated] %>
        <div class="document__gallery-thumbnail document__gallery-thumbnail--sinai-generic">
          <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
              <%= image_tag("sinai/sinai-generic-thumbnail.png", class: 'document__gallery-thumbnail--sinai-generic') %>
          </a>
        </div>
        <%# Thumbnail logged in%>
      <% else %>
        <div class="document__gallery-thumbnail document__gallery-thumbnail--sinai">
          <%= tn %>
        </div>
      <% end %>
    <% end %>
    <%# ----------------------------------------------- %>

    <%# METADATA %>
    <% if !cookies[:sinai_authenticated] %>
      <%# Sinai NOT LOGGED IN %>
      <%# cookies[:request_original_url] = request.original_url %>

      <div class="metadata-block-index--sinai">

        <header class='header-index--sinai'>
          <%# link the header to the block access modal%>
          <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
            <%= render 'catalog/index_header_sinai', document: document %>
          </a>
        </header>

        <%# TITLE: descriptive_title_one | descriptive_title_two | uniform_title_one | uniform_title_two %>
        <div class="title-index--sinai">
          <%= render 'catalog/index_title_sinai', document: document %>
        </div>

        <%# DATE - LANGUAGE %>
        <div class="sinai-index-metadata">
          <%= image_tag("sinai-icons/calendar-icon.png", class: "index-calendar-icon--sinai") %><%= render 'catalog/index_date_sinai', document: document %>&nbsp;&nbsp;<%= image_tag("sinai-icons/world-icon.png", class: "index-world-icon--sinai") %><%= render 'catalog/index_language_sinai', document: document %>
        </div>

        <%# NAMES %>
        <% name_field = render 'catalog/index_name_sinai', document: document %>
        <% if name_field.length > 2 %>
          <div class="sinai-index-metadata">
            <div class="sinai-index-metadata-value">
              <div class="sinai-index-metadata">
                <%= image_tag("sinai-icons/people-icon.svg", class: "index-calendar-icon--sinai") %>
                <%= name_field %>
            </div>
          </div>
        <% end %>

      </div><%# metadata-block-index--sinai %>

    <%# ----------------------------------------------- %>
    <% else %>
      <%# Sinai LOGGED IN %>
      <%# link the header to the work by the ark %>
      <% the_ark = CGI.escape document['ark_ssi'] %>

      <div class="metadata-block-index--sinai">

        <header class='header-index--sinai'>
          <%# link the header to the work by the ark %>
          <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
            <%= link_to (render 'catalog/index_header_sinai', document: document), "/catalog/#{the_ark}" %>
          </a>
        </header>

        <%# TITLE: descriptive_title_one | descriptive_title_two | uniform_title_one | uniform_title_two %>
        <div class="title-index--sinai">
          <%= render 'catalog/index_title_sinai', document: document %>
        </div>

        <%# DATE - LANGUAGE %>
        <div class="sinai-index-metadata">
          <%= image_tag("sinai-icons/calendar-icon.png", class: "index-calendar-icon--sinai") %><%= render 'catalog/index_date_sinai', document: document %>&nbsp;&nbsp;<%= image_tag("sinai-icons/world-icon.png", class: "index-world-icon--sinai") %><%= render 'catalog/index_language_sinai', document: document %>
        </div>

        <%# NAMES %>
        <% name_field = render 'catalog/index_name_sinai', document: document %>
        <% if name_field.length > 2 %>
          <div class="sinai-index-metadata">
            <div class="sinai-index-metadata-value">
              <div class="sinai-index-metadata">
                <%= image_tag("sinai-icons/people-icon.svg", class: "index-calendar-icon--sinai") %>
                <%= name_field %>
            </div>
          </div>
        <% end %>

      </div><%# metadata-block-index--sinai %>
    </div><%# document__list-item-wrapper--sinai %>
  <% end %><%# if Flipflop.sinai? %>

<%# ----------------------------------------------- %>

<!-- URSUS -->
<% else %>
  <% doc_presenter = index_presenter(document) %>
  <div class="document__list-item-wrapper">
    <!-- default partial to display solr document fields in catalog index view -->
    <dl class="document-metadata document__list-metadata-group">
      <% doc_presenter.fields_to_render.each do | field_name, field | %>
        <% if field_name == "member_of_collections_ssim" %>
          <% if document[:member_of_collections_ssim] && document[:member_of_collection_ids_ssim] %>
            <dt class="document__list-metadata-key document__list-metadata-key--ursus blacklight-<%= field_name.parameterize %>">
            <%= render_index_field_label document, field: field_name %>
          </dt>
          <dd class="document__list-metadata-value document__list-metadata-value--ursus blacklight-<%= field_name.parameterize %>">
            <% if document[:member_of_collections_ssim].length > 1 %>
              <% document[:member_of_collections_ssim].each_with_index do | member, index | %>
                <%= link_to member, "/catalog/#{document[:member_of_collection_ids_ssim][index]}" %><br>
              <% end %>
            <% else %>
              <%= link_to document[:member_of_collections_ssim][0], "/catalog/#{document[:member_of_collection_ids_ssim][0]}" %>
            <% end %>
          </dd>
        <% end %>

        <% else %>
          <dt class="document__list-metadata-key document__list-metadata-key--ursus blacklight-<%= field_name.parameterize %>">
            <%= render_index_field_label document, field: field_name %>
          </dt>
          <dd class="document__list-metadata-value document__list-metadata-value--ursus blacklight-<%= field_name.parameterize %>">
            <%= doc_presenter.field_value field %>
          </dd>
          <% if field_name == "Description" %>
            <dt class="document__list-metadata-key blacklight-<%= field_name.parameterize %>"></dt>
            <dd class="document__list-metadata-value blacklight-<%= field_name.parameterize %>">&nbsp;&nbsp;&nbsp;</dd>
          <% end %>
        <% end %>
      <% end %>
    </dl>
    <% if presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
      <div class="document__gallery-thumbnail"><%= tn %></div>
    <% end %>
  </div>
<% end %>
