<%# header bar for doc items in index view -%>
<%# SINAI %>
<% if Flipflop.sinai? %>
  <% doc_presenter = show_presenter(document) %>
  <% sinai_index_header = Ursus::SinaiIndexHeaderMetadataPresenter.new(document: doc_presenter.fields_to_render).sinai_index_header_terms %>

  <header class='document__list-header document__list-header--sinai'>
    <% all_header_fields = "" %>

    <% all_header_fields << ("<span class='document__list-item-link--sinai'>" + (link_to_document document, (doc_presenter.field_value sinai_index_header['shelfmark_ssi'])) + ', ' + '</span>') %>

    <% header = ['date_created_tesim', 'form_ssi', 'extent_tesim'] %>
    <% if header.length > 0 %>
    <% header.each do |field| -%>
      <% if sinai_index_header[field] %>
        <% header_field = (doc_presenter.field_value sinai_index_header[field]) + ', ' %>
        <% all_header_fields << header_field %>
      <% end %>
    <% end %>
      <%= all_header_fields.delete_suffix(', ').html_safe %>
    <% end %>
  </header>

<%# URSUS %>
<% else %>
  <header class='document__list-header'>
    <%# main title container for doc partial view
        How many bootstrap columns need to be reserved
        for bookmarks control depends on size. -%>
    <% document_actions = capture do %>
      <%# bookmark functions for items/docs -%>
      <%= render_index_doc_actions document, wrapping_class: 'index-document-functions' %>
    <% end %>

    <h3 class="document__list-title document__list-title--ursus <%= document_actions.present? %>">
      <% if counter = document_counter_with_offset(document_counter) %>
      <% end %>
      <%= link_to_document document, counter: counter %>
    </h3>

    <%= document_actions %>
  </header>
<% end %>
