<!-- SINAI -->
<% if Flipflop.sinai? %>
  <% doc_presenter = index_presenter(document) %>
  <div class="document__list-item-wrapper document__list-item-wrapper--sinai">
    <!-- default partial to display solr document fields in catalog index view -->

      <%# THUMBNAIL %>
      <% if presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
          <%# NOT LOGGED IN %>
          <% if !cookies[:sinai_authenticated] %>
          <div class="document__gallery-thumbnail document__gallery-thumbnail--sinai-generic">
           <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                <%= image_tag("sinai/sinai-generic-thumbnail.png") %>
              </a>
          <%# LOGGED IN %>
          <% else %>
          <div class="document__gallery-thumbnail document__gallery-thumbnail--sinai">
            <%= tn %>
          <% end %>
        </div>
      <% end %>
      <!-- ----------------- -->

      <span class="document__list-title document__list-title--sinai">
        <%# NOT LOGGED IN %>
        <% if !cookies[:sinai_authenticated] %>
          <%# cookies[:request_original_url] = request.original_url %>
          <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
          <%= "NOT LOGGED IN" %>
          <%#= render "index_header_sinai" %>
            <%# document['title_tesim'][0] %>
            <%#= document['date_created_tesim'][0] %>
            <%#= document['form_ssi'][0] %>
            <%#= document['extent_tesim'][0] %>
            Shelfmark: <%= document['shelfmark_ssi'] %>

<!-- OOOOOOOOOOOOOOOOOO -->
<%# SINAI ONLY %>
<%# doc_presenter = index_presenter(document) %>
<%= sinai_index_header = Ursus::SinaiIndexHeaderMetadataPresenter.new(document: doc_presenter.fields_to_render).sinai_index_header_terms %>
<%# sinai_index_header returns: {"date_created_tesim"=>#<Blacklight::Configuration::ShowField label="Date created", key="date_created_tesim", field="date_created_tesim", if=true, unless=false>, "extent_tesim"=>#<Blacklight::Configuration::ShowField label="Extent", key="extent_tesim", field="extent_tesim", if=true, unless=false>} %>


<% if sinai_index_header.length > 0 %>
  <header class= 'document__list-header document__list-header--sinai'>
    <span class='document__list-item-link--sinai'>
      <% sinai_index_header.each do |index, field_name, field| -%>
      Index:<%= index %><br>
      Field name: <%= field_name%><br>
      Field: <%= field %>
        <%#= doc_presenter.field_value field %> 
        <%# if index < sinai_index_header.length %>
          <%#= ', ' %>
        <%# end %>
      <% end %>
    </span>
  </header>
<% end %>

<header class='document__list-header document__list-header--sinai'>
  <% all_header_fields = "" %>

  <% if sinai_index_header['shelfmark_ssi'] %>
    <% all_header_fields << ("<span class='document__list-item-link--sinai'>" + (link_to_document document, (doc_presenter.field_value sinai_index_header['shelfmark_ssi'])) + ', ' + '</span>') %>
  <% end %>

  <% header = ['date_created_tesim', 'form_ssi', 'extent_tesim'] %>
  <% header.each do |field| -%>
    <% if sinai_index_header[field] %><%# if field exists append to variable header %>
      <% header_field = (doc_presenter.field_value sinai_index_header[field]) + ', ' %>
      <% all_header_fields << header_field %>
    <% end %>
    <%= all_header_fields.delete_suffix(', ').html_safe %>
  <% end %>
</header>
<!-- OOOOOOOOOOOOOOOOOO -->







          </a>

      <%# LOGGED IN %>
      <% else %>
      <%= "LOGGED IN" %>
        <% if counter = document_counter_with_offset(document_counter) %>
          <%#= link_to_document(document, counter: counter) %>
        <% end %>
      <% end %>
      </span>
  </div>

<!-- URSUS -->
<% else %>
  <% doc_presenter = index_presenter(document) %>
  <div class="document__list-item-wrapper">
    <!-- default partial to display solr document fields in catalog index view -->
    <dl class="document-metadata document__list-metadata-group">
      <% doc_presenter.fields_to_render.each do | field_name, field | %>
      <% if field_name == "member_of_collections_ssim" %>
        <% if document[:member_of_collections_ssim] && document[:member_of_collection_ids_ssim] %>
          <dt class="document__list-metadata-key document__list-metadata-key--ursus blacklight-<%= field_name.parameterize %>">
            <%= render_index_field_label document, field: field_name %>
          </dt>
          <dd class="document__list-metadata-value document__list-metadata-value--ursus blacklight-<%= field_name.parameterize %>">
            <% if document[:member_of_collections_ssim].length > 1 %>
              <% document[:member_of_collections_ssim].each_with_index do | member, index | %>
                <%= link_to member, "/catalog/#{document[:member_of_collection_ids_ssim][index]}" %><br>
              <% end %>
              <% else %>
                <%= link_to document[:member_of_collections_ssim][0], "/catalog/#{document[:member_of_collection_ids_ssim][0]}" %>
              <% end %>
          </dd>
        <% end %>

        <% else %>
          <dt class="document__list-metadata-key document__list-metadata-key--ursus blacklight-<%= field_name.parameterize %>">
            <%= render_index_field_label document, field: field_name %>
          </dt>
          <dd class="document__list-metadata-value document__list-metadata-value--ursus blacklight-<%= field_name.parameterize %>">
            <%= doc_presenter.field_value field %>
          </dd>
          <% if field_name == "Description" %>
            <dt class="document__list-metadata-key blacklight-<%= field_name.parameterize %>"></dt>
            <dd class="document__list-metadata-value blacklight-<%= field_name.parameterize %>">&nbsp;&nbsp;&nbsp;</dd>
          <% end %>
        <% end %>
      <% end %>
    </dl>
    <% if presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
      <div class="document__gallery-thumbnail"><%= tn %></div>
    <% end %>
  </div>
<% end %>
