<%# header bar for doc items in index view -%>
<header class='documentHeader row'>
  <%# main title container for doc partial view
      How many bootstrap columns need to be reserved
      for bookmarks control depends on size.
  -%>
  <% document_actions = capture do %>
    <% # bookmark functions for items/docs -%>
    <%= render_index_doc_actions document, wrapping_class: 'index-document-functions col-sm-3 col-lg-2' %>
  <% end %>

  <h3 class="index_title document-title-heading <%= document_actions.present? ? "col-sm-9 col-lg-10" : "col-md-8" %>">
    <% if counter = document_counter_with_offset(document_counter) %>
      <span class='document-counter'>
        <%= t('blacklight.search.documents.counter', counter: counter) %>
      </span>
    <% end %>
    
    <% if document[:has_model_ssim][0] == 'Collection' %>
      <a href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=<%= document[:title_tesim][0] %>">
        <%= document[:title_tesim][0] %>
      </a>
    <% else %>
      <%= link_to_document document, counter: counter %>
    <% end %>
  </h3>

  <%= document_actions %>
</header>
