<% if Flipflop.sinai? %><!-- SINAI -->
  <% doc_presenter = index_presenter(document) %>
  <div class="document__list-item-wrapper document__list-item-wrapper--sinai">
    <!-- default partial to display solr document fields in catalog index view -->

      <% if presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
        <div class="document__gallery-thumbnail document__gallery-thumbnail--sinai"><%= tn %></div>
      <% end %>


      <% doc_presenter.fields_to_render.each do | field_name, field | %>
        <%= render_index_field_label document, field: field_name %>
        <%= doc_presenter.field_value field %>
      <% end %>

<!-- Line 1 -->
<!-- [Shelfmark], [Date.creation]. [Form], [Format.extent], [Collection] -->

<!-- Line 2 -->
<!-- Title(s) 
  Uniform title (clickable facet that results in a search of the facet term)
  and Descriptive title fields) -->

<!-- Line 3 -->
<!-- Language(s) (clickable facet that results in a search of the facet term) -->

<!-- Line 4 -->
<!-- Genre(s) (clickable facet that results in a search of the facet term) -->

  </div>

<% else %><!-- URSUS -->
  <% doc_presenter = index_presenter(document) %>
  <div class="document__list-item-wrapper">
    <!-- default partial to display solr document fields in catalog index view -->
    <dl class="document-metadata document__list-metadata-group">

      <% doc_presenter.fields_to_render.each do | field_name, field | %>

      <% if field_name == "member_of_collections_ssim" %>

        <% if document[:member_of_collections_ssim] && document[:member_of_collection_ids_ssim] %>
          <dt class="document__list-metadata-key document__list-metadata-key--ursus blacklight-<%= field_name.parameterize %>">
            <%= render_index_field_label document, field: field_name %>
          </dt>
          <dd class="document__list-metadata-value document__list-metadata-value--ursus blacklight-<%= field_name.parameterize %>">
            <% if document[:member_of_collections_ssim].length > 1 %>
              <% document[:member_of_collections_ssim].each_with_index do | member, index | %>
                <%= link_to member, "/catalog/#{document[:member_of_collection_ids_ssim][index]}" %><br>
              <% end %>
              <% else %>
                <%= link_to document[:member_of_collections_ssim][0], "/catalog/#{document[:member_of_collection_ids_ssim][0]}" %>
              <% end %>
          </dd>
        <% end %>

        <% else %>
          <dt class="document__list-metadata-key document__list-metadata-key--ursus blacklight-<%= field_name.parameterize %>">
            <%= render_index_field_label document, field: field_name %>
          </dt>
          <dd class="document__list-metadata-value document__list-metadata-value--ursus blacklight-<%= field_name.parameterize %>">
            <%= doc_presenter.field_value field %>
          </dd>
          <% if field_name == "Description" %>
            <dt class="document__list-metadata-key blacklight-<%= field_name.parameterize %>"></dt>
            <dd class="document__list-metadata-value blacklight-<%= field_name.parameterize %>">&nbsp;&nbsp;&nbsp;</dd>
          <% end %>
        <% end %>
      <% end %>
    </dl>
    <% if presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
      <div class="document__gallery-thumbnail"><%= tn %></div>
    <% end %>
  </div>
<% end %>
