<div class='primary-metadata'>
  <div hidden>
    <% document_json = JSON.parse @document.to_json.gsub(/'/, '_') %>
    <% tn = "<img src=\""+document_json['thumbnail_url_ss']+"\" alt=\"Image for search engines to index.\" \>" if !document_json['thumbnail_url_ss'].blank? %>
    <%= tn.html_safe if !document_json['thumbnail_url_ss'].blank?%>
    </div>
  <%= render 'item_overview_metadata', { document: document } %>
  <%= render 'note_metadata', { document: document } %>
  <%= render 'physical_description_metadata', { document: document } %>
  <%= render 'keyword_metadata', { document: document } %>
</div>
