<div class='primary-metadata'>
  <div class="sr-only">
    <% document_json = JSON.parse @document.to_json.gsub(/'/, '_') %>
    <% tn = "<img src=\""+document_json['thumbnail_url_ss']+"\" alt=\"Image for search engines to index.\" \>" %>
    <%= tn.html_safe  %>
  </div>
  <%= render 'item_overview_metadata', { document: document } %>
  <%= render 'note_metadata', { document: document } %>
  <%= render 'physical_description_metadata', { document: document } %>
  <%= render 'keyword_metadata', { document: document } %>
</div>
