<%
@page_title = t('blacklight.search.page_title.title', constraints: render_search_to_page_title(params), application_name: application_name)
@page_title = @page_title.sub(' - ', '') if @page_title.starts_with? " - "
%>
<% content_for(:head) do %>
  <%= render_opensearch_response_metadata %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<!-- This adds the Filtered result (breadcrumbs) -->
<% content_for(:container_header) do -%>
  <h1 class='sr-only top-content-title'><%= t('blacklight.search.header') %></h1>
  <% url = request.original_url %>
<% end %>

<% collection_block_presenter = Ursus::CollectionBlockPresenter.new(response: @response) %>
<% unless collection_block_presenter.collection_selected? %>
  <%= render 'browse_results' %>
<% else %>
  <% if !@response['response']['docs'].empty? %>
    <%= render 'browse_results' %>
  <% else %>
    <%= render 'zero_results' %>
  <% end %>
<% end %>
