<%
@page_title = if Flipflop.sinai?
                t('blacklight.search.page_title.title', constraints: render_search_to_page_title(params), application_name: sinai_application_name)
              else
                t('blacklight.search.page_title.title', constraints: render_search_to_page_title(params), application_name: application_name)
              end
@page_title = @page_title.sub(' - ', '') if @page_title.starts_with? " - "
%>
<% content_for(:head) do %>
  <%= render_opensearch_response_metadata %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<!-- This adds the Filtered result (breadcrumbs) -->
<% content_for(:container_header) do -%>
  <h1 class='sr-only top-content-title'><%= t('blacklight.search.header') %></h1>
  <% url = request.original_url %>
<% end %>

<% collection_block_presenter = Ursus::CollectionBlockPresenter.new(response: @response) %>
<% unless collection_block_presenter.collection_selected? %>
  <%= render 'browse_results' %>
<% else %>
<% if !@response['response']['docs'].empty? %>
    <!--<%#= render 'collection_block' %>
    <ul class="nav nav-tabs mb-3" id="browse-by-title-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="browse-by-title-tab" data-toggle="tab" href="#browse-by-title" role="tab" aria-controls="home" aria-selected="true">Browse by Title</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="about-this-collection-tab" data-toggle="tab" href="#about-collection" role="tab" aria-controls="profile" aria-selected="false">About the Collection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="find-this-collection-tab" data-toggle="tab" href="#find-this" role="tab" aria-controls="contact" aria-selected="false">Find This Collection</a>
      </li>
    </ul>
    <% document = collection_block_presenter.collection_document %> -->
    <div class="tab-content" id="collection-tab-content">
      <div class="tab-pane fade show active" id="browse-by-title" role="tabpanel" aria-labelledby="browse-by-title-tab">
        <%= render 'browse_results' %>
      </div>
      <!--<div class="tab-pane fade" id="about-collection" role="tabpanel" aria-labelledby="about-this-collection-tab">
        <%#= render 'catalog/collection/about_this_collection',  document: document  %>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <%#= render 'catalog/collection/service_contact', presenter: collection_block_presenter  %>
      </div>
      <div class="tab-pane fade" id="find-this" role="tabpanel" aria-labelledby="find-this-collection-tab">
        <%#= render 'catalog/collection/find_this_collection', document: document  %>
      </div> -->
    </div>
  <% else %>
    No Results found.
  <% end %>
<% end %>
