<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<% content_for(:head) do -%>
  <%= render_opensearch_response_metadata %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<!-- This adds the Filtered result (breadcrumbs) -->
<% content_for(:container_header) do -%>
  <h1 class='sr-only top-content-title'><%= t('blacklight.search.header') %></h1>
  <div class='filter-box'>
    <%= render 'constraints' %>
    <%= render 'startover' %>
  </div>
<% end %>

<h4 class='catalog-results'><%= @response['response'].dig(:numFound) %> Catalog Results <%= render_results_collection_tools wrapping_class: "search-widgets" %></h4>

<div class='rectangle'> <%= render 'search_header' %> </div>

<hr>

<h2 class='sr-only'><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render 'zero_results' %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<div class='rectangle'><%= render 'results_pagination' %></div>
<%= render 'old_collections' %>
