<div id="uv" class="uv"></div>
</br>
<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |field_name, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
	    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
    <% end -%>
  <% end -%>
      <dt class="blacklight-license">License:</dt>
      <dd class="blacklight-license"><%= render_license %></dd>
</dl>
<style>
  #uv {
      width: 640px;
      height: 480px;
  }
</style>
<link rel="stylesheet" type="text/css" href="/uv/uv.css">
<script src="/uv/lib/offline.js"></script>
<script src="/uv/helpers.js"></script>
<script>
  window.addEventListener('uvLoaded', function (e) {
      createUV('#uv', {
          iiifResourceUri: '<%= Rails.application.config.iiif_url %>/<%= document.id %>/manifest',
          configUri: '/uv/uv-config.json',
	  root: '/uv/'
      }, new UV.URLDataProvider());
  }, false);
</script>

<script src="/uv/uv.js"></script>
