<% if Flipflop.sinai? %>
  <%# --------- Back to Search Results ----- %>

  <div class='item-page__metadata-wrapper-results--sinai'>
    <%= link_back_to_catalog label: 'â† Back to Search Results', class: 'si-link si-link-search-results' %>
    <%#= link_to image_tag('iiif-logo.png', alt: 'IIIF Manifest'), @document[:iiif_manifest_url_ssi], class: 'si-link-iiif' %>

    <%# ---------- IIIF & Tooltip ------------ %>
    <div class='si-link-iiif'>
      <div class='iiif-tooltip--sinai' data-toggle="tooltip" data-placement="bottom" data-html="true" title="IIIF Manifest URL"><%= link_to image_tag('iiif-logo.png', alt: 'IIIF Manifest'), @document[:iiif_manifest_url_ssi], class: 'si-link-iiif' %></div>
    </div>
  </div>

  <%# ----------- Shelfmark --------------- %>
  <div class='title-row-show--siani'>
    <%= @document[:shelfmark_ssi] %>
  </div>

  <div class='item-page__metadata-wrapper'>
    <%= render 'catalog/work_record/primary_metadata', document: document %>
    <%= render 'catalog/work_record/secondary_metadata', document: document %>
  </div>

<%# ----------- Ursus --------------- %>
<% else %>
  <div class='item-page__metadata-wrapper'>
    <%= render 'catalog/work_record/primary_metadata', document: document %>
    <%= render 'catalog/work_record/secondary_metadata', document: document %>
  </div>
<% end %>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
