<% if show_sort_and_per_page? and has_alternative_views? -%>
  <div class="search-widget__view-type-wrapper">
    <span class="sr-only"><%= t('blacklight.search.view_title') %></span>
    <% if Flipflop.sinai? %>
      <div class="search-widget__view-type-group search-widget__view-type-group--sinai">
        <% document_index_view_controls.each do |view, config| %>
          <%= link_to url_for(search_state.to_h.merge(view: view)), title: view_label(view), class: "btn-base btn-outline-sinai--orange view-type-#{view.to_s.parameterize} #{'active' if document_index_view_type == view}" do %>
            <%= render_view_type_group_icon view %> <span class="search-widget__icon"><%= view.capitalize %> View</span>
            <span class="caption"><%= view_label(view) %></span>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="search-widget__view-type-group search-widget__view-type-group--ursus">
      <% document_index_view_controls.each do |view, config| %>
        <%= link_to url_for(search_state.to_h.merge(view: view)), title: view_label(view), class: "btn-base btn-outline-ursus--light ur-link view-type-#{view.to_s.parameterize} #{'active' if document_index_view_type == view}" do %>
          <%= render_view_type_group_icon view %> <span class="search-widget__icon"><%= view.capitalize %> View</span>
          <span class="caption"><%= view_label(view) %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
<% end -%>
