<!-- The Results
    (calls the method render_facet_limit
      from blacklight_701/app/helpers/blacklight/facets_helper_behavior.rb)
-->
<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_prefix do %>
    <div class="facet-pagination top row justify-content-between">
      <%= render :partial=>'facet_pagination' %>
    </div>
  <% end %>

  <!-- A-Z Sort & Numerical Sort-->
  <div class="sort-options-wrapper" style="width: 100%">
    <% if @pagination.sort == 'index' -%>
      <span class="active az btn-base btn-base-outline--dark modal-btn--ursus"><%= t('blacklight.search.facets.sort.index') %></span>
      <%= link_to(t('blacklight.search.facets.sort.count'), @pagination.params_for_resort_url('count', search_state.to_h), class: "sort_change numeric btn-base btn-base-outline--dark modal-btn modal-btn--ursus", data: { blacklight_modal: "preserve" }) %>
    <% elsif @pagination.sort == 'count' -%>
      <%= link_to(t('blacklight.search.facets.sort.index'), @pagination.params_for_resort_url('index', search_state.to_h), class: "sort_change az btn-base btn-base-outline--dark modal-btn modal-btn--ursus", data: { blacklight_modal: "preserve" }) %>
      <span class="active numeric btn-base btn-base-outline--dark modal-btn modal-btn--ursus"><%= t('blacklight.search.facets.sort.count') %></span>
    <% end -%>
  </div>

  <% component.with_title { "#{facet_field_label(@facet.key)} (#{@response['response'].dig(:numFound)} Results)" } %>
  <%= render Blacklight::Search::FacetSuggestInput.new(facet: @facet, presenter: @presenter) %>

  <%= render partial: 'facet_index_navigation' if @facet.index_range && @display_facet.index? %>

  <div class="facet-extended-list">
    <%= render Blacklight::FacetComponent.new(display_facet: @display_facet,
                                              blacklight_config: blacklight_config,
                                              layout: false) %>
  </div>

  <% component.with_footer do %>
    <div class="facet-pagination bottom flex-row justify-content-between">
      <%= render :partial=>'facet_pagination' %>
    </div>
  <% end %>
<% end %>
