<% if @document[:has_model_ssim][0] == 'Collection' %>
  <%= render 'collection_record', { document: @document } %>
<% else %>
  <% if current_search_session && controller.controller_name == 'catalog' && controller.action_name == 'show' %>

<%# PAGINATION %>
    <div id='appliedParams' class='back-and-new-container'>
      <div class= 'previous-next'><%= render 'previous_next_doc' if @search_context %></div>
      <div class='back-and-new-links-show' >
        <%= link_back_to_catalog label:'Back to Search Results', class: 'btn back-to-search-link' %>
      </div>
    </div>

  <% elsif current_search_session %>

    <div id='appliedParams' class='clearfix constraints-container'>
      <%#= link_to t('blacklight.search.start_over'), start_over_path, class: 'btn catalog_startOverLink' %>
      <%= link_back_to_catalog class: 'btn btn-outline-secondary' %>
    </div>

  <% end %>
  <%= render_document_main_content_partial %>
<% end %>
