<footer class='site-footer'>
  <div class='container-full site-footer__primary site-footer__primary--ursus'>
    <div class='site-footer__primary-wrapper--ursus'>
      <div class="site-footer__block--ursus">
        <%= link_to(image_tag('logo/ucla-library-logo.svg', class: 'site-footer__logo site-footer__logo--ursus', alt: 'UCLA Library Logo'), 'https://www.library.ucla.edu/', target: '_blank', rel: 'noopener', data: { cy: 'main-library-site' }) %>
      </div>
      <div class="site-footer__block--ursus">
        <ul class='site-footer__list'>
          <li class='site-footer__list-item'><%= link_to 'Copyright and Collections', '/copyright_and_collections', class: 'site-footer__link site-footer__link--ursus' %></li>
          <li class='site-footer__list-item'><%= link_to 'Privacy Policy', '/privacy_policy', class: 'site-footer__link site-footer__link--ursus' %></li>
          <li class='site-footer__list-item'><%= link_to 'Contact Us', '/ursus_contact', class: 'site-footer__link site-footer__link--ursus' %></li>
          <li class='site-footer__list-item'><%= link_to 'IIIF Guide', '/iiif_guide', class: 'site-footer__link site-footer__link--ursus' %></li>
        </ul>
      </div>
      <div class="site-footer__block--ursus">
        <ul class='site-footer__list'>
          <li class='site-footer__list-item'><%= link_to 'Give Us Feedback', 'https://forms.gle/x2BV9dJMK241VsAJA', class: 'site-footer__link site-footer__link--ursus-gold', target: '_blank', rel: 'noopener', data: { cy: 'footer-feedback' } %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class='container-full site-footer__secondary site-footer__secondary--ursus'>
    <div class='site-footer__secondary-text'>
      &#169; 2019-<%= Time.zone.now.year %> UC Regents. All rights reserved.
    </div>
  </div>
</footer>
