<footer class='site-footer'>
  <div class='row primary-footer-wrapper'>
    <div class="col-4 col-md-2 logo-wrapper">
      <%= image_tag('sinai/logo-sinai2.svg', class: 'footer-logo img-fluid', alt: 'St Catherine Monastery logo') %>
    </div>
    <div class="col-4 col-md-2 logo-wrapper">
      <%= image_tag('sinai/logo-uclalib-blk.svg', class: 'footer-logo img-fluid', alt: 'UCLA Library logo') %>
    </div>
    <div class="col-4 col-md-2 logo-wrapper">
      <%= image_tag('sinai/logo-emel2.svg', class: 'footer-logo img-fluid', alt: 'EMEL logo') %>
    </div>
    <div class="col-4 col-md-2 logo-wrapper">
      <%= image_tag('sinai/logo-ahmanson.png', class: 'footer-logo img-fluid', alt: 'Ahmanson Foundation logo') %>
    </div>
    <div class="col-4 col-md-2 logo-wrapper">
      <%= image_tag('sinai/logo-arcadia.png', class: 'footer-logo img-fluid', alt: 'Arcadia logo') %>
    </div>
  </div>
</footer>

<div class='secondary-footer-wrapper'>
  <div class='footer-links'>
    <ul>
      <li><%= link_to 'Contact Us', '/contact' %></li>
      <li><%= link_to 'Terms of Use ', '/terms-of-use' %></li>
    </ul>
  </div>
</div>
