<footer class='site-footer'>
  <div class='container-full site-footer__primary site-footer__primary--sinai'>
    <div class='row site-footer__primary-wrapper--sinai'>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai/logo-sinai2.svg', class: 'site-footer__logo--sinai', alt: 'St Catherine Monastery logo') %>
      </div>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai/logo-uclalib-blk.svg', class: 'site-footer__logo--sinai', alt: 'UCLA Library logo') %>
      </div>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai/logo-emel2.svg', class: 'site-footer__logo--sinai', alt: 'EMEL logo') %>
      </div>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai/logo-ahmanson.png', class: 'site-footer__logo--sinai', alt: 'Ahmanson Foundation logo') %>
      </div>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai/logo-arcadia.png', class: 'site-footer__logo--sinai', alt: 'Arcadia logo') %>
      </div>
    </div>
  </div>

  <div class='container-full site-footer__secondary site-footer__secondary--sinai'>
    <div class='site-footer__secondary-wrapper--sinai'>
        <ul class='site-footer__list'>
          <li class='site-footer__list-item site-footer__list-item--sinai'><%= link_to 'Contact Us', '/contact', class: 'site-footer__link site-footer__link--sinai' %></li>
          <li class='site-footer__list-item site-footer__list-item--sinai'><%= link_to 'Terms of Use ', '/terms-of-use', class: 'site-footer__link site-footer__link--sinai' %></li>
        </ul>
    </div>
  </div>

</footer>
