<footer class='site-footer site-footer--sinai'>
  <div class='container-full site-footer__primary site-footer__primary--sinai'>
    <p class='site-footer__title--sinai'>Sponsors:</p>
    <div class='site-footer__primary-wrapper--sinai'>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai-logos/logo-sinai-wht-hz.png', class: 'site-footer__logo--sinai', alt: 'St Catherine Monastery logo') %>
      </div>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai-logos/logo-uclalib-wht.svg', class: 'site-footer__logo--sinai', alt: 'UCLA Library logo') %>
      </div>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai-logos/logo-arcadia-wht.png', class: 'site-footer__logo--sinai', alt: 'Arcadia logo') %>
      </div>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai-logos/logo-ahmanson-wht.png', class: 'site-footer__logo--sinai', alt: 'Ahmanson Foundation logo') %>
      </div>
      <div class="site-footer__logo-wrapper--sinai">
        <%= image_tag('sinai-logos/logo-emel-wht-txt.png', class: 'site-footer__logo--sinai', alt: 'EMEL logo') %>
      </div>
    </div>
  </div>

  <div class='container-full site-footer__secondary site-footer__secondary--sinai'>
    <hr class='divider--white'>
    <div class='site-footer__secondary-wrapper--sinai'>
        <ul class='site-footer__list'>
          <li class='site-footer__list-item'><%= link_to 'Sinai Palimpsests Project', 'http://sinaipalimpsests.org/', class: 'site-footer__link site-footer__link--sinai', target: '_blank', rel: 'noopener' %></li>
        </ul>
    </div>
  </div>

</footer>
