<!-- This is bookmarks. It is not currently being used. It should go in app/views_legacy but we couldn't figure out how to find it there in spec/views/_user_util_links.html.erb_spec.rb -->

<ul class="navbar-nav navbar-right nav">
  <%# This is the string 'true' or 'false' not the bool because it can be used with dotenv %>
  <% if Rails.application.config.user_account_ui_enabled == 'true' %>
    <%= render_nav_actions do |config, action| %>
      <li class="nav-item"><%= action %></li>
    <% end %>

    <% if has_user_authentication_provider? %>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link' %>
        </li>
        <% unless current_user.to_s.blank? -%>
          <li class="nav-item">
            <%= link_to current_user, edit_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    <% end %>
</ul>
<% end %>
