<!DOCTYPE html>
<html>
  <head>
    <title>Ursus</title>
    <link rel="preload" href="proximanova-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
