<% content_for(:content) do %>

  <% if content_for? :sidebar %>
    <!--<div class='content-container--index-page'>
      <section id="content" class="<%= main_content_classes %> order-last">-->
        <%= yield %>
      <!--</section>-->

      <!--<section id="sidebar" class="<%= sidebar_classes %> order-first">-->
        <%= content_for(:sidebar) %>
      <!--</section>
    </div>-->
  <% else %>
    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
